In [2]:
import pandas as pd
import requests
import json
import time
from pprint import pprint
from config import API_KEY

In [3]:
data = pd.read_csv('Resources/movies_titles_2018.csv')
df =  data.groupby('2018_movies').nunique()
df

             2018_movies
2018_movies
tt1072748              1
tt1137450              1
tt1213641              1
tt1259528              1
tt1270797              1
...                  ...
tt7242142              1
tt7256866              1
tt7284204              1
tt7349662              1
tt7690670              1

[103 rows x 1 columns]

In [31]:
url = "http://www.omdbapi.com/?i=" + movie + "&apikey=" + API_KEY
total_movies = len(data['2018_movies'])
movies = data['2018_movies']

In [32]:
box_office_list = []
country_list = []
genre_list = []
director_list = []
metascore_list = []
productioin_list = []
rating_list = []
IMDB_rating_list = [] 
rotten_tomatoes_rating_list = []
metacritic_rating_list = []
runtime_list = []
title_list = []
type_list = []
imdb_votes_list = []

In [63]:
for i in range(total_movies):
# for i in range(30):
    movie = movies[i]
    url = "http://www.omdbapi.com/?i=" + movie + "&apikey=" + API_KEY
    response = (requests.get(url).text)
    response_json = json.loads(response)
    
    box_office_list.append(response_json['BoxOffice'])
    country_list.append(response_json['Country'])
    genre_list.append(response_json['Genre'])
    director_list.append(response_json['Director'])
    metascore_list.append(response_json['Metascore'])
    productioin_list.append(response_json['Production'])
    rating_list.append(response_json['Rated'])
    IMDB_rating_list.append(response_json['imdbRating'])
    rotten_tomatoes_rating_list.append(response_json['Ratings'][1]['Value'])
    runtime_list.append(response_json['Runtime'])
    title_list.append(response_json['Title'])
    type_list.append(response_json['Type'])
    imdb_votes_list.append(response_json['imdbVotes'])

In [64]:
print(title_list)
#looks like its repeating titles and it shouldn't be not sure why

['Avengers: Infinity War', 'Aquaman', 'Solo: A Star Wars Story', 'Fantastic Beasts: The Crimes of Grindelwald', 'Black Panther', 'Fifty Shades Freed', 'Spider-Man: Into the Spider-Verse', 'Jurassic World: Fallen Kingdom', 'Ant-Man and the Wasp', 'Hotel Transylvania 3: Summer Vacation', 'Sherlock Gnomes', 'Bumblebee', "Dr. Seuss' The Grinch", 'Ralph Breaks the Internet', 'Pacific Rim: Uprising', 'Maze Runner: The Death Cure', 'Tomb Raider', 'Deadpool 2', 'Ready Player One', 'The Predator', 'Mary Poppins Returns', 'The Nutcracker and the Four Realms', "Ocean's Eight", 'Incredibles 2', 'Mission: Impossible - Fallout', 'The Equalizer 2', 'Rampage', 'Avengers: Infinity War', 'Aquaman', 'Solo: A Star Wars Story', 'Fantastic Beasts: The Crimes of Grindelwald', 'Black Panther', 'Fifty Shades Freed', 'Spider-Man: Into the Spider-Verse', 'Jurassic World: Fallen Kingdom', 'Ant-Man and the Wasp', 'Hotel Transylvania 3: Summer Vacation', 'Sherlock Gnomes', 'Bumblebee', "Dr. Seuss' The Grinch", 'Ralph Breaks the Internet', 'Pacific Rim: Uprising', 'Maze Runner: The Death Cure', 'Tomb Raider', 'Deadpool 2', 'Ready Player One', 'The Predator', 'Mary Poppins Returns', 'The Nutcracker and the Four Realms', "Ocean's Eight", 'Incredibles 2', 'Mission: Impossible - Fallout', 'The Equalizer 2', 'Rampage', 'Avengers: Infinity War', 'Aquaman', 'Solo: A Star Wars Story', 'Fantastic Beasts: The Crimes of Grindelwald', 'Black Panther', 'Fifty Shades Freed', 'Spider-Man: Into the Spider-Verse', 'Jurassic World: Fallen Kingdom', 'Ant-Man and the Wasp', 'Hotel Transylvania 3: Summer Vacation', 'Sherlock Gnomes', 'Bumblebee', "Dr. Seuss' The Grinch", 'Ralph Breaks the Internet', 'Pacific Rim: Uprising', 'Maze Runner: The Death Cure', 'Tomb Raider', 'Deadpool 2', 'Ready Player One', 'The Predator', 'Mary Poppins Returns', 'The Nutcracker and the Four Realms', "Ocean's Eight", 'Incredibles 2', 'Mission: Impossible - Fallout', 'The Equalizer 2', 'Rampage', 'Avengers: Infinity War', 'Aquaman', 'Solo: A Star Wars Story', 'Fantastic Beasts: The Crimes of Grindelwald', 'Black Panther', 'Fifty Shades Freed', 'Spider-Man: Into the Spider-Verse', 'Jurassic World: Fallen Kingdom', 'Ant-Man and the Wasp', 'Hotel Transylvania 3: Summer Vacation', 'Sherlock Gnomes', 'Bumblebee', "Dr. Seuss' The Grinch", 'Ralph Breaks the Internet', 'Pacific Rim: Uprising', 'Maze Runner: The Death Cure', 'Tomb Raider', 'Deadpool 2', 'Ready Player One', 'The Predator', 'Mary Poppins Returns', 'The Nutcracker and the Four Realms', "Ocean's Eight", 'Incredibles 2', 'Mission: Impossible - Fallout', 'The Equalizer 2', 'Rampage', 'The Nun', 'The First Purge', 'Creed II', 'Insidious: The Last Key', 'Annihilation', 'Sicario: Day of the Soldado', 'Mamma Mia! Here We Go Again', 'A Wrinkle in Time', '12 Strong', 'Johnny English Strikes Again', 'Like Father', 'Mortal Engines', 'The Commuter', 'Skyscraper', 'Proud Mary', 'Den of Thieves', 'Winchester', 'Peter Rabbit', 'The 15:17 to Paris', 'Early Man', 'Samson', 'Game Night', 'Red Sparrow', 'Alpha', 'Death Wish', 'The Strangers: Prey at Night', 'The Hurricane Heist', '7 Days in Entebbe', 'Bohemian Rhapsody', 'The Cloverfield Paradox', 'Acts of Violence', 'A Quiet Place', 'When We First Met', 'Isle of Dogs', 'The Spy Who Dumped Me', 'Life of the Party', 'Terminal', 'Anon', 'Ibiza', 'The Meg', 'Overboard', 'Father of the Year', 'I Feel Pretty', 'Robin Hood', 'Tag', 'First Man', 'Extinction', 'Peppermint', 'Blockers', 'BlacKkKlansman', 'Upgrade', 'Mile 22', 'Slender Man', 'The House with a Clock in Its Walls', 'Smallfoot', "The Girl in the Spider's Web", 'Night School', 'The Darkest Minds', 'Arizona', 'A Star Is Born', 'Mowgli: Legend of the Jungle', 'Final Score', 'Blindspotting', 'A Simple Favor', 'The Christmas Chronicles', 'Bird Box', "Summer '03", 'Widows', 'Hotel Mumbai', 'Crazy Rich Asians', 'Avengers: Infinity War', 'Aquaman', 'Solo: A Star Wars Story', 'Fantastic Beasts: The Crimes of Grindelwald', 'Black Panther', 'Fifty Shades Freed', 'Spider-Man: Into the Spider-Verse', 'Jurassic World: Fallen Kingdom', 'Ant-Man and the Wasp', 'Hotel Transylvania 3: Summer Vacation', 'Sherlock Gnomes', 'Bumblebee', "Dr. Seuss' The Grinch", 'Ralph Breaks the Internet', 'Pacific Rim: Uprising', 'Maze Runner: The Death Cure', 'Tomb Raider', 'Deadpool 2', 'Ready Player One', 'The Predator', 'Mary Poppins Returns', 'The Nutcracker and the Four Realms', "Ocean's Eight", 'Incredibles 2', 'Mission: Impossible - Fallout', 'The Equalizer 2', 'Rampage', 'Avengers: Infinity War', 'Aquaman', 'Solo: A Star Wars Story', 'Fantastic Beasts: The Crimes of Grindelwald', 'Black Panther', 'Fifty Shades Freed', 'Spider-Man: Into the Spider-Verse', 'Jurassic World: Fallen Kingdom', 'Ant-Man and the Wasp', 'Hotel Transylvania 3: Summer Vacation', 'Sherlock Gnomes', 'Bumblebee', "Dr. Seuss' The Grinch", 'Ralph Breaks the Internet', 'Pacific Rim: Uprising', 'Maze Runner: The Death Cure', 'Tomb Raider', 'Deadpool 2', 'Ready Player One', 'The Predator', 'Mary Poppins Returns', 'The Nutcracker and the Four Realms', "Ocean's Eight", 'Incredibles 2', 'Mission: Impossible - Fallout', 'The Equalizer 2', 'Rampage', 'Avengers: Infinity War', 'Aquaman', 'Solo: A Star Wars Story', 'Fantastic Beasts: The Crimes of Grindelwald', 'Black Panther', 'Fifty Shades Freed', 'Spider-Man: Into the Spider-Verse', 'Jurassic World: Fallen Kingdom', 'Ant-Man and the Wasp', 'Hotel Transylvania 3: Summer Vacation', 'Sherlock Gnomes', 'Bumblebee', "Dr. Seuss' The Grinch", 'Ralph Breaks the Internet', 'Pacific Rim: Uprising', 'Maze Runner: The Death Cure', 'Tomb Raider', 'Deadpool 2', 'Ready Player One', 'The Predator', 'Mary Poppins Returns', 'The Nutcracker and the Four Realms', "Ocean's Eight", 'Incredibles 2', 'Mission: Impossible - Fallout', 'The Equalizer 2', 'Rampage', 'Venom', 'Escape Plan 2: Hades', 'The Nun', 'Avengers: Infinity War', 'Aquaman', 'Solo: A Star Wars Story', 'Fantastic Beasts: The Crimes of Grindelwald', 'Black Panther', 'Fifty Shades Freed', 'Spider-Man: Into the Spider-Verse', 'Jurassic World: Fallen Kingdom', 'Ant-Man and the Wasp', 'Hotel Transylvania 3: Summer Vacation', 'Sherlock Gnomes', 'Bumblebee', "Dr. Seuss' The Grinch", 'Ralph Breaks the Internet', 'Pacific Rim: Uprising', 'Maze Runner: The Death Cure', 'Tomb Raider', 'Deadpool 2', 'Ready Player One', 'The Predator', 'Mary Poppins Returns', 'The Nutcracker and the Four Realms', "Ocean's Eight", 'Incredibles 2', 'Mission: Impossible - Fallout', 'The Equalizer 2', 'Rampage', 'Venom', 'Escape Plan 2: Hades', 'The Nun', 'Avengers: Infinity War', 'Aquaman', 'Solo: A Star Wars Story', 'Fantastic Beasts: The Crimes of Grindelwald', 'Black Panther', 'Fifty Shades Freed', 'Spider-Man: Into the Spider-Verse', 'Jurassic World: Fallen Kingdom', 'Ant-Man and the Wasp', 'Hotel Transylvania 3: Summer Vacation', 'Sherlock Gnomes', 'Bumblebee', "Dr. Seuss' The Grinch", 'Ralph Breaks the Internet', 'Pacific Rim: Uprising', 'Maze Runner: The Death Cure', 'Tomb Raider', 'Deadpool 2', 'Ready Player One', 'The Predator', 'Mary Poppins Returns', 'The Nutcracker and the Four Realms', "Ocean's Eight", 'Incredibles 2', 'Mission: Impossible - Fallout', 'The Equalizer 2', 'Rampage', 'Venom', 'Escape Plan 2: Hades', 'The Nun', 'The First Purge', 'Creed II', 'Insidious: The Last Key', 'Annihilation', 'Sicario: Day of the Soldado', 'Mamma Mia! Here We Go Again', 'A Wrinkle in Time', '12 Strong', 'Halloween', 'Johnny English Strikes Again', 'Like Father', 'Mortal Engines', 'The Commuter', 'Skyscraper', 'Proud Mary', 'Den of Thieves', 'Winchester', 'Peter Rabbit', 'The 15:17 to Paris', 'Early Man', 'Samson', 'Game Night', 'Red Sparrow', 'Alpha', 'Death Wish', 'The Strangers: Prey at Night', 'The Hurricane Heist', '7 Days in Entebbe', 'Bohemian Rhapsody', 'The Cloverfield Paradox', 'Acts of Violence', 'A Quiet Place', 'When We First Met', 'Isle of Dogs', 'The Spy Who Dumped Me', 'Life of the Party', 'Terminal', 'Anon', 'Ibiza', 'The Meg', 'Christopher Robin', 'Overboard', 'Father of the Year', 'I Feel Pretty', 'Robin Hood', 'Tag', 'First Man', 'Extinction', 'SuperFly', 'Peppermint', 'Blockers', 'BlacKkKlansman', 'Upgrade', 'Mile 22', 'Slender Man', 'The House with a Clock in Its Walls', 'Smallfoot', "The Girl in the Spider's Web", 'Night School', 'The Darkest Minds', 'Arizona', 'A Star Is Born', 'Mowgli: Legend of the Jungle', 'Final Score', 'Blindspotting', 'A Simple Favor', 'The Christmas Chronicles', 'Bird Box', "Summer '03", "Gosnell: The Trial of America's Biggest Serial Killer", 'Widows', 'Hotel Mumbai', 'Crazy Rich Asians']