In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
from sklearn.model_selection import train_test_split

data_2013 = pd.read_csv('Resources/data/train.log_data_2013.csv')
data_2014 = pd.read_csv('Resources/data/train.log_data_2014.csv')
data_2015 = pd.read_csv('Resources/data/train.log_data_2015.csv')
data_2016 = pd.read_csv('Resources/data/train.log_data_2016.csv')
data_2017 = pd.read_csv('Resources/data/test.log_data_2017.csv')

In [3]:
data = pd.concat([data_2013, data_2014, data_2015, data_2016, data_2017], ignore_index=True)

C:\Users\johna\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [4]:
data.year.value_counts()

2013    260
2016    241
2014    213
2017    195
2015    171
Name: year, dtype: int64

In [5]:
data = pd.get_dummies(data, columns=['production','rating'], drop_first = True)
data.head()

,box_office,country,genre,runtime,title,year,production_21 Laps Entertainment,production_A Day in the Life Films,production_A24,production_A24 Films,...,production_Yale Productions,production_Zeitgeist Films,production_eOne Entertainment,rating_NOT RATED,rating_PG,rating_PG-13,rating_R,rating_TV-14,rating_TV-MA,rating_Unrated
0,1,1,3,130,Iron Man 3,2013,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,1,1,6,102,Frozen,2013,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,1,3,6,98,Despicable Me 2,2013,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,1,1,4,146,The Hunger Games: Catching Fire,2013,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,1,2,3,143,Man of Steel,2013,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [6]:
train = data.loc[data.year != 2017]
test = data.loc[data.year == 2017]

In [7]:
X_train = train[train.columns[~train.columns.isin(['box_office','title', 'year'])]]
y_train = train['box_office'].values.reshape(-1,1)

X_test = test[test.columns[~test.columns.isin(['box_office','title', 'year'])]]
y_test = test['box_office'].values.reshape(-1,1)

In [8]:
print(X_test.shape, y_test.shape)

(195, 329) (195, 1)

In [9]:
from sklearn.linear_model import LogisticRegression
from sklearn import linear_model
from scipy.special import expit

In [10]:
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [11]:
 y_score = classifier.fit(X_train, y_train)

C:\Users\johna\Anaconda3\envs\PythonData\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\johna\Anaconda3\envs\PythonData\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [12]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.9096045197740112
Testing Data Score: 0.9179487179487179

In [13]:
predictions = classifier.predict(X_test)
top_20_titles = test.title.head(20)

In [14]:
top_20_prediction = predictions[:20]

In [15]:
pd.DataFrame({"Prediction": top_20_prediction, "Actual": top_20_titles})

     Prediction                                            Actual
885           1           Star Wars: Episode VIII - The Last Jedi
886           1                              Beauty and the Beast
887           0                                      Wonder Woman
888           0                    Jumanji: Welcome to the Jungle
889           1                    Guardians of the Galaxy Vol. 2
890           0                            Spider-Man: Homecoming
891           0                                                It
892           1                                    Thor: Ragnarok
893           0                                   Despicable Me 3
894           0                                    Justice League
895           0                                             Logan
896           0                           The Fate of the Furious
897           0                                              Coco
898           0                                           Dunkirk
899           0                             The Lego Batman Movie
900           0                                           Get Out
901           0                                     The Boss Baby
902           0  Pirates of the Caribbean: Dead Men Tell No Tales
903           0                                Kong: Skull Island
904           0                              The Greatest Showman

In [16]:
probs = classifier.predict_proba(grid)[:, 1].reshape(xx.shape)

NameError: name 'grid' is not defined