In [1]:
import pandas as pd

In [2]:
batch_1 = pd.read_csv('../data/2014_data_batch_1.csv')
batch_2 = pd.read_csv('../data/2014_data_batch_2.csv')
batch_3 = pd.read_csv('../data/2014_data_batch_3.csv')
batch_4 = pd.read_csv('../data/2014_data_batch_4.csv')

In [3]:
len(batch_1)

996

In [4]:
len(batch_2)

997

In [5]:
len(batch_3)

996

In [6]:
len(batch_4)

320

In [7]:
df = pd.DataFrame()

In [8]:
df = pd.concat([batch_1, batch_2, batch_3, batch_4], ignore_index=True)

In [9]:
len(df)

3309

In [10]:
df.head(100)

,title_id,title,box_office,country,genre,director,metascore,production,rating,IMDB_rating,rotten_tomatoes_rating,runtime,type,IMDB_votes
0,tt2075318,#Stuck,NaN,USA,"Comedy, Drama, Romance",Stuart Acher,43.0,Stuck Productions LLC,NaN,5.6,60%,83 min,movie,"1,020"
1,tt2477324,#iKllr,NaN,USA,"Horror, Thriller",Jeffrey Coghlan,NaN,NaN,NaN,NaN,NaN,95 min,movie,NaN
2,tt2106284,$50K and a Call Girl: A Love Story,NaN,USA,"Action, Adventure, Comedy, Drama, Romance",Seth Grossman,NaN,FilmBuff,R,6.8,NaN,90 min,movie,"1,826"
3,tt5135646,'Twas The Night Before Christmas,NaN,USA,"Short, Comedy, Family","Hans Hernke, Randy Kent",NaN,NaN,NaN,NaN,NaN,75 min,movie,NaN
4,tt4533680,...and the Rest is History,NaN,"Germany, New Zealand, Austria, USA","Comedy, Crime, Drama",Niko Kühnel,NaN,NaN,NaN,NaN,NaN,89 min,movie,NaN
5,tt2388856,1 Chance 2 Dance,NaN,USA,"Drama, Family",Adam Deyoe,NaN,WARNER BROTHERS PICTURES,G,4.8,NaN,89 min,movie,499
6,tt2134170,10 Cent Pistol,NaN,USA,"Crime, Thriller",Michael C. Martin,37.0,NaN,Unrated,4.7,NaN,91 min,movie,434
7,tt2402917,10 Things I Hate About Life,NaN,USA,"Comedy, Romance",Gil Junger,NaN,NaN,NaN,6.9,NaN,NaN,movie,22
8,tt3530690,"10,000 Days",NaN,USA,Sci-Fi,Eric Small,NaN,Bahr Productions,TV-PG,2.7,NaN,91 min,movie,595
9,tt3488056,10.0 Earthquake,NaN,USA,"Drama, Sci-Fi, Thriller",David Gidali,NaN,NaN,PG,3.5,NaN,88 min,movie,"1,487"
10,tt3627828,101: Modern Los Angeles Vampires,NaN,USA,Horror,Stan Harrington,NaN,Xristos Productions,NOT RATED,4.3,NaN,78 min,movie,11
11,tt3073898,108 Stitches,NaN,USA,"Comedy, Romance, Sport",David Rountree,NaN,Freestyle Releasing,R,4.3,NaN,118 min,movie,117
12,tt3187586,11,NaN,"USA, Netherlands","Crime, Drama, Thriller",Janusz Madej,NaN,NaN,NaN,6.2,NaN,87 min,movie,5
13,tt2818632,1108,NaN,USA,Thriller,Dan Brown Jr.,NaN,NaN,NaN,6.2,NaN,NaN,movie,8
14,tt3579698,12 Dog Days Till Christmas,NaN,USA,Family,Charlie Vaughn,NaN,Marvista Entertainment,UNRATED,5.1,NaN,90 min,movie,265
15,tt4386156,12 Til Dusk,NaN,USA,Drama,J. Cameron Keenum,NaN,NaN,NaN,NaN,NaN,85 min,movie,NaN
16,tt3977920,12/10/07: A Dogme 95 film,NaN,USA,Drama,Raven Low Clouds,NaN,NaN,NaN,NaN,NaN,90 min,movie,NaN
17,tt3168890,13 Score,NaN,USA,Horror,D. Max Walters,NaN,NaN,NaN,NaN,NaN,75 min,movie,NaN
18,tt2059171,13 Sins,NaN,USA,"Horror, Thriller",Daniel Stamm,44.0,Radius-TWC,R,6.3,65%,93 min,movie,"30,391"
19,tt4104212,14 Days,NaN,USA,"Drama, Romance, Sci-Fi",Joseph Villapaz,NaN,NaN,NaN,7.2,NaN,54 min,movie,15
20,tt3387980,14/88,NaN,USA,"Drama, Romance",Chase Dudley,NaN,NaN,NaN,8.5,NaN,NaN,movie,6
21,tt1212054,16 Stones,NaN,USA,Adventure,Brian Brough,NaN,Candlelight Media Group,PG,4.9,NaN,93 min,movie,64
22,tt3044904,1864,NaN,USA,Drama,Derrick Hammond,NaN,NaN,NaN,NaN,NaN,NaN,movie,NaN
23,tt3959542,1870 Texas,NaN,USA,"Action, Adventure, Western",William Booth,NaN,NaN,NaN,NaN,NaN,77 min,movie,NaN
24,tt2431420,2 & Twenty-Six *Reprise*,NaN,USA,"Horror, Thriller",Edward St. Joseph,NaN,NaN,NaN,NaN,NaN,NaN,movie,NaN
25,tt2731970,2 Bedroom 1 Bath,NaN,USA,"Horror, Mystery, Thriller",Stanley Yung,NaN,Plus Entertainment Inc.,R,3.8,NaN,91 min,movie,299
26,tt2516610,20 Ft Below: The Darkness Descending,NaN,USA,Thriller,Marc Clebanoff,NaN,Odyssey Motion Pictures,R,2.6,NaN,91 min,movie,525
27,tt4181324,2013 Gold Rush Expedition Race,NaN,USA,Sport,Brian J. Leitten,NaN,NaN,NaN,NaN,NaN,68 min,movie,NaN
28,tt4591668,2014 Fly Fishing Film Tour,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78 min,movie,NaN
29,tt4113790,"2053 Two Girls, a Dragon & a Fisherman",NaN,USA,NaN,Gary Davis,NaN,NaN,NaN,NaN,NaN,NaN,movie,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,tt3648248,A Better Lyfe,NaN,USA,"Short, Drama, Thriller",Shonda Harris,NaN,NaN,NaN,NaN,NaN,50 min,movie,NaN
71,tt3216732,A Better You,NaN,USA,Comedy,Matt Walsh,NaN,FilmBuff,Not Rated,5.6,NaN,90 min,movie,56
72,tt2406306,A Bit of Bad Luck,"$6,104",USA,"Comedy, Drama, Thriller",John Fuhrman,NaN,Indican Pictures,Not Rated,4.8,NaN,86 min,movie,238
73,tt3853984,A Brave New World,NaN,USA,Thriller,Garrett Thomas,NaN,NaN,NaN,NaN,NaN,57 min,movie,NaN
74,tt3252020,A Bridge to a Border,NaN,USA,Drama,Rob Nilsson,NaN,NaN,NaN,4.8,NaN,NaN,movie,5
75,tt6245540,A Calling of Courage,NaN,USA,Family,Auturo Gavino,NaN,NaN,NaN,6.8,NaN,84 min,movie,9
76,tt2909476,Puncture Wounds,NaN,USA,"Action, Drama","Giorgio Serafini, James Coyne(co-director)",NaN,LionsGate Entertainment,R,4.3,NaN,96 min,movie,"1,197"
77,tt6987674,A Change Is Coming,NaN,USA,NaN,Michael McCorkle,NaN,NaN,NaN,NaN,NaN,120 min,movie,NaN
78,tt2760800,A Convenient Truth,NaN,USA,Comedy,Dominick Bagnato,NaN,NaN,NaN,7.5,NaN,85 min,movie,17
79,tt4403332,A Conversation,NaN,USA,"Comedy, Drama",Austin Terry,NaN,NaN,NaN,NaN,NaN,82 min,movie,NaN
80,tt2606614,A Cry from Within,NaN,USA,"Horror, Mystery, Thriller","Zach Miller, Deborah Twiss",NaN,Sebastien Film,Not Rated,3.6,NaN,96 min,movie,269
81,tt4221716,A Cursed Coven,NaN,USA,Drama,Andrew Crandall,NaN,NaN,NaN,NaN,NaN,120 min,movie,NaN
82,tt3406478,A Dangerous Cure,NaN,USA,"Comedy, Horror",Kevin Jarvis,NaN,NaN,NaN,NaN,NaN,60 min,movie,NaN
83,tt3339208,A Dark Place Inside,NaN,USA,Horror,Mike O'Mahony,NaN,Chemical Burn Entertainment,NaN,4.6,NaN,80 min,movie,31
84,tt5619230,A Debauched Little Rogue,NaN,USA,Drama,Robert Curry,NaN,NaN,NaN,NaN,NaN,73 min,movie,NaN
85,tt1604100,A Fine Step,NaN,USA,Drama,Jonathan Meyers,NaN,Nine Step Studios,PG,5.2,NaN,111 min,movie,286
86,tt1681368,A Free Bird,NaN,USA,Comedy,Gregg Russell,NaN,KinoNation,R,5.5,NaN,95 min,movie,107
87,tt2326554,A Girl Walks Home Alone at Night,NaN,USA,"Drama, Horror",Ana Lily Amirpour,81.0,Vice Films,Not Rated,7.0,96%,101 min,movie,"27,848"
88,tt2180994,A Good Marriage,NaN,USA,"Crime, Drama, Thriller",Peter Askin,43.0,Screen Media Ventures,R,5.2,32%,102 min,movie,"8,750"
89,tt3626230,A Good Thing Gone,NaN,USA,Drama,Farrukh Sheikh,NaN,NaN,NaN,NaN,NaN,68 min,movie,NaN
90,tt3668016,A Good Thong Gone,NaN,USA,Drama,Farrukh Sheikh,NaN,NaN,NaN,NaN,NaN,68 min,movie,NaN
91,tt2441174,A Grim Becoming,NaN,USA,"Action, Comedy, Horror",Adam R. Steigert,NaN,NaN,NaN,6.6,NaN,115 min,movie,42
92,tt2828996,A Haunted House 2,"$13,710,572",USA,"Comedy, Fantasy",Michael Tiddes,17.0,Open Road Films,R,4.7,8%,86 min,movie,"18,658"
93,tt3905860,A Hungry Model,NaN,USA,Comedy,Laura Jane,NaN,NaN,NaN,NaN,NaN,NaN,movie,NaN
94,tt3211982,A Is for Alex,NaN,USA,"Comedy, Drama, Family",Alex Orr,NaN,NaN,NaN,7.9,NaN,74 min,movie,16
95,tt1791441,A Lesson of Love,NaN,USA,"Drama, Romance",Michael McAlexander,NaN,NaN,NaN,NaN,NaN,102 min,movie,NaN
96,tt3658694,A Light in the Woods,NaN,USA,Horror,Elizabeth Hansen,NaN,NaN,NaN,7.3,NaN,80 min,movie,6
97,tt2276480,A Little Game,NaN,USA,"Adventure, Family",Evan Oppenheimer,NaN,Arc Entertainment,PG,6.3,40%,92 min,movie,422
98,tt1841488,A Little Problem,NaN,USA,"Comedy, Family",Richard Givens,NaN,NaN,NaN,NaN,NaN,67 min,movie,NaN
99,tt2386502,A Long Way Off,NaN,USA,"Drama, Family, Romance","Michael Davis(co-director), John Errington(co-...",NaN,Moving Visions Entertainment,PG,4.4,NaN,105 min,movie,152

In [11]:
total = len(df.country.unique())
unique = df.country.unique()
for i in range (total):
    print(unique[i])

USA
Germany, New Zealand, Austria, USA
USA, Netherlands
nan
USA, France, Serbia
Croatia, USA, Italy
Turkey, Australia, UK, USA
United Arab Emirates, USA
UK, USA, Germany
USA, Germany, Turkey, Lebanon, Italy, Bosnia and Herzegovina, Switzerland
USA, New Zealand, Canada, Israel, Japan, Nigeria
South Africa, USA
USA, Bahamas
USA, Argentina
Canada, USA
USA, Spain
Japan, USA
UK, USA
USA, Serbia, Serbia and Montenegro
China, USA
USA, UK
UK, USA, France, Sweden
USA, Spain, Romania, Germany, Canada, Ethiopia
USA, Canada
USA, Japan
Russia, USA
UK, Russia, USA
USA, Philippines
Spain, Brazil, Italy, Argentina, USA
USA, India
USA, Mexico
France, Canada, USA
USA, Italy
USA, Thailand, Austria
Thailand, USA
Sweden, USA
USA, Poland, Mexico, Lithuania, China, Chile
Romania, USA, Italy, Poland, France
USA, France
Canada, USA, Denmark
USA, Qatar
Italy, USA
USA, Brazil
USA, Australia
USA, UK, Canada
USA, Venezuela
USA, Greece, United Arab Emirates
USA, Turkey
Austria, Italy, USA
Ethiopia, USA
USA, UK, Ireland
Pakistan, Norway, USA
Bahamas, USA
Norway, Iceland, USA, UK
Spain, USA, Malaysia
Cameroon, USA
Mexico, USA
USA, Canada, Mexico, Puerto Rico
UK, Spain, USA
USA, Singapore
Philippines, USA
USA, Kenya, Somalia
USA, China
Greece, USA
Turkey, USA
USA, Thailand
USA, China, UK
South Korea, USA
USA, UK, Ireland, France, Germany
Belgium, Brazil, Morocco, UK, China, Israel, USA
USA, UK, Denmark, Sweden
USA, Greece
India, USA
Germany, Canada, UK, South Africa, USA
USA, Hungary
Nepal, USA, UK
France, USA
USA, South Korea
Italy, Spain, USA
Italy, UK, USA, France
UK, Puerto Rico, USA
Israel, Canada, USA
Morocco, USA, Qatar, France, UK
USA, Russia
Argentina, Denmark, France, Mexico, USA, Germany, Brazil, Netherlands
USA, France, South Korea, Taiwan
USA, France, Iceland, Mexico
USA, Spain, Italy, France
Iceland, USA
USA, France, UK
USA, Panama
Cambodia, USA
Colombia, France, Argentina, Germany, Italy, Netherlands, USA
France, Germany, USA, Taiwan
Germany, Belgium, USA
USA, Yemen
Colombia, USA
Canada, Germany, France, USA
Canada, Palestine, USA
USA, Germany, Norway, UK, Montenegro
UK, France, USA
Japan, Croatia, USA, Australia
UK, France, USA, Canada
Poland, USA
Vietnam, USA
Latvia, USA
UK
Spain, USA
USA, India, Pakistan
USA, Colombia, Spain, United Arab Emirates
Canada, China, USA, France
Austria, Germany, Canada, Italy, Japan, Switzerland, USA
Russia, Ukraine, USA, Italy, Cyprus
Canada, Germany, USA
USA, Germany
Australia, USA
USA, Greece, UK
USA, Bulgaria
Germany, Canada, USA
China, Malaysia, USA
USA, Argentina, France
Chile, USA
USA, Austria
Sweden, Denmark
USA, Canada, South Korea
Hong Kong, USA
Malaysia, USA, India
Brazil, USA, France
USA, Latvia
France, Belgium, USA
UK, Canada, USA
USA, El Salvador
USA, Peru
USA, Russia, China
UK, USA, France
Indonesia, USA
Czech Republic, France, USA
USA, UK, Canada, China
Germany, USA
Hungary, USA
Thailand, Canada, USA
Netherlands, USA
USA, Belgium
USA, Iceland
USA, UK, France
UK, France, Canada, Belgium, USA
Canada, India, USA
Thailand, USA, France
France, USA, Spain
USA, Georgia
USA, Peru, Iceland, Chile, Bolivia, Bahamas
USA, Italy, UK
USA, Algeria
USA, Finland
USA, Indonesia
USA, Guatemala, South Korea
USA, Canada, UK
China, USA, Hong Kong
USA, New Zealand
USA, France, Bulgaria, Germany
UK, Italy, Spain, USA
Singapore, USA
Ireland, USA
South Africa, Canada, USA
Kenya, India, USA, Canada, South Africa
UK, USA, Morocco
USA, India, South Korea
New Zealand, USA
USA, India, United Arab Emirates
USA, Denmark, Australia
Belgium, USA
USA, Netherlands, Germany, Italy
Canada, South Korea, USA
Qatar, France, Lebanon, Canada, USA
UK, USA, Australia
USA, Morocco
Norway, USA
Romania, USA
UK, Japan, USA
USA, Chile
UK, China, USA
USA, Sweden
USA, China, Hong Kong
France, Belgium, Algeria, USA
USA, Brazil, Kenya
USA, Iran, Jordan
Brazil, USA
USA, Romania, Netherlands
USA, UK, France, Germany
UK, USA, Italy
Tonga, USA
Japan, Thailand, Indonesia, USA
South Africa, Ireland, USA

In [12]:
df.country = df.country.str.lower()

In [13]:
df = df[df['country'].str.contains("usa", na=False)]

In [14]:
total = len(df.country.unique())
unique = df.country.unique()
for i in range (total):
    print(unique[i])

usa
germany, new zealand, austria, usa
usa, netherlands
usa, france, serbia
croatia, usa, italy
turkey, australia, uk, usa
united arab emirates, usa
uk, usa, germany
usa, germany, turkey, lebanon, italy, bosnia and herzegovina, switzerland
usa, new zealand, canada, israel, japan, nigeria
south africa, usa
usa, bahamas
usa, argentina
canada, usa
usa, spain
japan, usa
uk, usa
usa, serbia, serbia and montenegro
china, usa
usa, uk
uk, usa, france, sweden
usa, spain, romania, germany, canada, ethiopia
usa, canada
usa, japan
russia, usa
uk, russia, usa
usa, philippines
spain, brazil, italy, argentina, usa
usa, india
usa, mexico
france, canada, usa
usa, italy
usa, thailand, austria
thailand, usa
sweden, usa
usa, poland, mexico, lithuania, china, chile
romania, usa, italy, poland, france
usa, france
canada, usa, denmark
usa, qatar
italy, usa
usa, brazil
usa, australia
usa, uk, canada
usa, venezuela
usa, greece, united arab emirates
usa, turkey
austria, italy, usa
ethiopia, usa
usa, uk, ireland
pakistan, norway, usa
bahamas, usa
norway, iceland, usa, uk
spain, usa, malaysia
cameroon, usa
mexico, usa
usa, canada, mexico, puerto rico
uk, spain, usa
usa, singapore
philippines, usa
usa, kenya, somalia
usa, china
greece, usa
turkey, usa
usa, thailand
usa, china, uk
south korea, usa
usa, uk, ireland, france, germany
belgium, brazil, morocco, uk, china, israel, usa
usa, uk, denmark, sweden
usa, greece
india, usa
germany, canada, uk, south africa, usa
usa, hungary
nepal, usa, uk
france, usa
usa, south korea
italy, spain, usa
italy, uk, usa, france
uk, puerto rico, usa
israel, canada, usa
morocco, usa, qatar, france, uk
usa, russia
argentina, denmark, france, mexico, usa, germany, brazil, netherlands
usa, france, south korea, taiwan
usa, france, iceland, mexico
usa, spain, italy, france
iceland, usa
usa, france, uk
usa, panama
cambodia, usa
colombia, france, argentina, germany, italy, netherlands, usa
france, germany, usa, taiwan
germany, belgium, usa
usa, yemen
colombia, usa
canada, germany, france, usa
canada, palestine, usa
usa, germany, norway, uk, montenegro
uk, france, usa
japan, croatia, usa, australia
uk, france, usa, canada
poland, usa
vietnam, usa
latvia, usa
spain, usa
usa, india, pakistan
usa, colombia, spain, united arab emirates
canada, china, usa, france
austria, germany, canada, italy, japan, switzerland, usa
russia, ukraine, usa, italy, cyprus
canada, germany, usa
usa, germany
australia, usa
usa, greece, uk
usa, bulgaria
germany, canada, usa
china, malaysia, usa
usa, argentina, france
chile, usa
usa, austria
usa, canada, south korea
hong kong, usa
malaysia, usa, india
brazil, usa, france
usa, latvia
france, belgium, usa
uk, canada, usa
usa, el salvador
usa, peru
usa, russia, china
uk, usa, france
indonesia, usa
czech republic, france, usa
usa, uk, canada, china
germany, usa
hungary, usa
thailand, canada, usa
netherlands, usa
usa, belgium
usa, iceland
usa, uk, france
uk, france, canada, belgium, usa
canada, india, usa
thailand, usa, france
france, usa, spain
usa, georgia
usa, peru, iceland, chile, bolivia, bahamas
usa, italy, uk
usa, algeria
usa, finland
usa, indonesia
usa, guatemala, south korea
usa, canada, uk
china, usa, hong kong
usa, new zealand
usa, france, bulgaria, germany
uk, italy, spain, usa
singapore, usa
ireland, usa
south africa, canada, usa
kenya, india, usa, canada, south africa
uk, usa, morocco
usa, india, south korea
new zealand, usa
usa, india, united arab emirates
usa, denmark, australia
belgium, usa
usa, netherlands, germany, italy
canada, south korea, usa
qatar, france, lebanon, canada, usa
uk, usa, australia
usa, morocco
norway, usa
romania, usa
uk, japan, usa
usa, chile
uk, china, usa
usa, sweden
usa, china, hong kong
france, belgium, algeria, usa
usa, brazil, kenya
usa, iran, jordan
brazil, usa
usa, romania, netherlands
usa, uk, france, germany
uk, usa, italy
tonga, usa
japan, thailand, indonesia, usa
south africa, ireland, usa

In [15]:
len(df)

3302

In [16]:
df = df[df.box_office.notnull()]

In [17]:
len(df)

213

In [18]:
# drop min number of non-NA values
df = df.dropna(thresh=7)
df.head(100)

,title_id,title,box_office,country,genre,director,metascore,production,rating,IMDB_rating,rotten_tomatoes_rating,runtime,type,IMDB_votes
33,tt2294449,22 Jump Street,"$154,295,930",usa,"Action, Comedy, Crime","Phil Lord, Christopher Miller",71.0,Sony Pictures,R,7.0,84%,112 min,movie,"329,222"
34,tt2304459,23 Blast,"$485,128",usa,"Drama, Family, Sport",Dylan Baker,45.0,Ocean Avenue Entertainment,PG-13,6.5,36%,98 min,movie,"1,618"
37,tt2123884,3 Nights in the Desert,"$1,279",usa,Drama,Gabriel Cowan,NaN,Monterey Media Inc.,R,5.3,40%,90 min,movie,"1,414"
44,tt1253863,300: Rise of an Empire,"$91,024,535",usa,"Action, Drama",Noam Murro,48.0,Warner Bros. Pictures,R,6.2,45%,102 min,movie,"269,785"
54,tt2486678,5 to 7,"$117,066",usa,"Comedy, Drama, Romance",Victor Levin,52.0,IFC Films,R,7.1,69%,95 min,movie,"17,382"
56,tt1777595,50 to 1,"$1,063,723",usa,Drama,Jim Wilson,37.0,Ten Furlongs LLC.,PG-13,6.4,29%,110 min,movie,"1,797"
72,tt2406306,A Bit of Bad Luck,"$6,104",usa,"Comedy, Drama, Thriller",John Fuhrman,NaN,Indican Pictures,Not Rated,4.8,NaN,86 min,movie,238
92,tt2828996,A Haunted House 2,"$13,710,572",usa,"Comedy, Fantasy",Michael Tiddes,17.0,Open Road Films,R,4.7,8%,86 min,movie,"18,658"
106,tt2587914,A Matter of Faith,"$660,659",usa,Drama,Rich Christiano,NaN,Truman Scott Films,PG,3.7,NaN,89 min,movie,"1,258"
110,tt2557490,A Million Ways to Die in the West,"$37,331,031",usa,"Comedy, Western",Seth MacFarlane,44.0,Universal Pictures,R,6.1,34%,116 min,movie,"163,828"
112,tt1972571,A Most Wanted Man,"$14,037,964","uk, usa, germany","Crime, Drama, Thriller",Anton Corbijn,73.0,Lionsgate/Roadside Attractions,R,6.8,87%,122 min,movie,"69,362"
144,tt1826590,About Last Night,"$39,477,140",usa,"Comedy, Romance",Steve Pink,62.0,Sony Pictures,R,6.1,69%,100 min,movie,"21,644"
153,tt2205401,Addicted,"$17,382,982",usa,"Drama, Thriller",Bille Woodruff,32.0,Lionsgate,R,5.2,7%,106 min,movie,"7,842"
157,tt3318750,Adult Beginners,"$104,415",usa,"Comedy, Drama",Ross Katz,57.0,Radius,R,5.6,48%,92 min,movie,"7,778"
170,tt4486228,Aftermath,"$2,955",usa,Drama,"Katherine Donovan, Isabel Ebeid, Connor Geary,...",NaN,Freestyle Releasing,NaN,NaN,NaN,65 min,movie,NaN
185,tt1698641,"Alexander and the Terrible, Horrible, No Good,...","$56,752,482",usa,"Comedy, Family",Miguel Arteta,54.0,Walt Disney Pictures,PG,6.2,61%,81 min,movie,"38,338"
187,tt3293462,Algorithm,"$1,360",usa,"Crime, Drama, Thriller",Jon Schiefer,NaN,First Run Features,NaN,4.7,77%,91 min,movie,825
189,tt2510434,Alien Abduction,"$10,514",usa,"Horror, Sci-Fi, Thriller",Matty Beckerman,46.0,IFC Films,Not Rated,4.9,28%,85 min,movie,"7,572"
206,tt2421868,Allure,"$1,918",usa,Drama,Vladan Nikolic,NaN,NaN,TV-14,7.5,40%,83 min,movie,283
226,tt2179136,American Sniper,"$274,377,268",usa,"Action, Biography, Drama, War",Clint Eastwood,72.0,Warner Bros.,R,7.3,72%,133 min,movie,"413,938"
230,tt3139538,Amira & Sam,"$31,849",usa,"Comedy, Drama, Romance",Sean Mullin,58.0,Drafthouse Films,Not Rated,6.1,77%,90 min,movie,"2,457"
241,tt2465146,And So It Goes,"$10,482,672",usa,"Comedy, Drama, Romance",Rob Reiner,38.0,Clarius Entertainment,PG-13,5.8,18%,94 min,movie,"11,929"
250,tt3297554,Animals,"$12,000",usa,Drama,Collin Schiffli,71.0,Oscilloscope Pictures,Not Rated,6.3,85%,90 min,movie,838
254,tt1823664,Annie,"$58,614,089",usa,"Comedy, Drama, Family, Musical",Will Gluck,33.0,Sony Pictures,PG,5.3,28%,118 min,movie,"32,085"
285,tt2176228,As It Is in Heaven,"$9,910",usa,Drama,Joshua Overbay,71.0,Cinema Purgatorio,Not Rated,7.3,85%,86 min,movie,71
338,tt2355495,Barefoot,"$11,766",usa,"Comedy, Drama, Romance",Andrew Fleming,22.0,Roadside Attractions,PG-13,6.6,14%,90 min,movie,"22,036"
360,tt3060492,Before I Disappear,"$2,676","usa, uk",Drama,Shawn Christensen,47.0,IFC Films,Unrated,7.2,37%,93 min,movie,"8,644"
362,tt0443465,Before We Go,"$22,522",usa,"Comedy, Drama, Romance",Chris Evans,31.0,Radius,PG-13,6.8,27%,95 min,movie,"47,354"
374,tt3020532,Belle,"$8,792,708",usa,"Short, Drama",Alex M Garnett,NaN,Fox Searchlight,NaN,NaN,84%,52 min,movie,NaN
388,tt1609479,Better Living Through Chemistry,"$51,772","uk, usa","Comedy, Drama","Geoff Moore, David Posamentier",40.0,IDP/Samuel goldwyn Films,Not Rated,6.3,22%,91 min,movie,"13,635"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1233,tt3177316,Honeymoon,"$9,168",usa,"Horror, Mystery, Thriller",Leigh Janiak,65.0,Magnolia Pictures/Magnet Releasing,R,5.7,75%,87 min,movie,"23,358"
1237,tt2170439,Horrible Bosses 2,"$39,939,072",usa,"Comedy, Crime",Sean Anders,40.0,Warner Bros. Pictures,R,6.3,34%,108 min,movie,"148,437"
1255,tt1646971,How to Train Your Dragon 2,"$147,065,544",usa,"Animation, Action, Adventure, Family, Fantasy",Dean DeBlois,76.0,20th Century Fox,PG,7.8,92%,102 min,movie,"288,683"
1294,tt1418377,"I, Frankenstein","$15,687,400","usa, australia","Action, Fantasy, Horror, Sci-Fi, Thriller",Stuart Beattie,30.0,Lionsgate Films,PG-13,5.1,5%,92 min,movie,"76,215"
1336,tt1791528,Inherent Vice,"$6,100,613",usa,"Comedy, Crime, Drama, Mystery, Romance",Paul Thomas Anderson,81.0,Warner Bros. Pictures,R,6.7,73%,148 min,movie,"87,864"
1345,tt0816692,Interstellar,"$158,737,441","usa, uk, canada","Adventure, Drama, Sci-Fi",Christopher Nolan,74.0,Paramount Pictures,PG-13,8.6,72%,169 min,movie,"1,363,875"
1347,tt2106361,Into the Storm,"$40,613,055",usa,"Action, Adventure, Drama, Thriller",Steven Quale,44.0,Warner Bros. Pictures,PG-13,5.8,21%,89 min,movie,"61,892"
1348,tt2180411,Into the Woods,"$89,789,227",usa,"Adventure, Comedy, Drama, Fantasy, Musical",Rob Marshall,69.0,Walt Disney Pictures,PG,5.9,71%,125 min,movie,"126,086"
1360,tt3235888,It Follows,"$10,705,259",usa,"Horror, Mystery, Thriller",David Robert Mitchell,83.0,Radius-TWC,R,6.8,96%,100 min,movie,"193,256"
1369,tt1205537,Jack Ryan: Shadow Recruit,"$43,003,831","usa, russia","Action, Drama, Thriller",Kenneth Branagh,57.0,Paramount Pictures,PG-13,6.2,55%,105 min,movie,"117,295"
1398,tt1562899,Jinn,"$149,337",usa,"Fantasy, Horror, Thriller",Ajmal Zaheer Ahmad,24.0,Freestyle Releasing,PG-13,4.2,18%,97 min,movie,"4,359"
1417,tt2582426,Julia,"$2,110",usa,"Horror, Thriller",Matthew A. Brown,NaN,Archstone Distribution,R,4.5,57%,95 min,movie,"1,574"
1422,tt2980472,Just Before I Go,"$8,129",usa,"Comedy, Drama",Courteney Cox,24.0,A24 Films,R,6.4,10%,95 min,movie,"17,023"
1444,tt1216491,Kill the Messenger,"$2,445,646",usa,"Biography, Crime, Drama, Mystery, Thriller",Michael Cuesta,60.0,Focus Features,R,6.9,77%,112 min,movie,"42,432"
1453,tt2802144,Kingsman: The Secret Service,"$119,469,511","uk, usa","Action, Adventure, Comedy, Thriller",Matthew Vaughn,60.0,20th Century Fox,R,7.7,74%,129 min,movie,"561,032"
1485,tt3283556,Land Ho!,"$727,430","iceland, usa","Adventure, Comedy","Aaron Katz, Martha Stephens",68.0,Sony Pictures Classics,R,5.9,82%,95 min,movie,"2,404"
1495,tt2435458,Last Weekend,"$2,661",usa,"Comedy, Drama","Tom Dolby, Tom Williams",40.0,IFC Films,Unrated,5.4,35%,94 min,movie,878
1509,tt2467046,Left Behind,"$10,649,893","usa, canada","Action, Drama, Fantasy, Mystery, Thriller",Vic Armstrong,12.0,Freestyle Releasing,PG-13,3.1,1%,110 min,movie,"34,915"
1535,tt2870808,Life Partners,"$7,563",usa,"Comedy, Drama, Romance",Susanna Fogel,57.0,Magnolia Pictures,R,6.2,67%,93 min,movie,"7,959"
1543,tt3104818,"Like Sunday, Like Rain","$27,623",usa,"Drama, Music",Frank Whaley,43.0,Monterey Media,R,6.9,53%,104 min,movie,"4,025"
1550,tt3125220,Little Accidents,"$5,479,639",usa,Drama,Sara Colangelo,56.0,Amplify Films,Not Rated,5.8,54%,105 min,movie,"3,338"
1576,tt0903657,Love & Mercy,"$8,790,100",usa,"Biography, Drama, Music",Bill Pohlad,80.0,Roadside Attractions,PG-13,7.4,90%,121 min,movie,"33,297"
1582,tt2639344,Love Is Strange,"$1,932,818","usa, greece","Drama, Romance",Ira Sachs,82.0,Sony Pictures Classics,R,6.7,93%,94 min,movie,"11,611"
1597,tt2872732,Lucy,"$108,521,370","france, germany, usa, taiwan","Action, Sci-Fi, Thriller",Luc Besson,61.0,Universal Pictures,R,6.4,67%,89 min,movie,"416,141"
1606,tt2334733,Madame Bovary,"$183,185","germany, belgium, usa",Drama,Sophie Barthes,52.0,Alchemy,R,5.7,43%,118 min,movie,"7,149"
1619,tt1587310,Maleficent,"$190,871,149",usa,"Action, Adventure, Family, Fantasy, Romance",Robert Stromberg,56.0,Walt Disney Pictures,PG,7.0,54%,97 min,movie,"323,986"
1627,tt2893490,Manglehorn,"$63,602",usa,Drama,David Gordon Green,56.0,IFC Films,PG-13,5.6,50%,97 min,movie,"6,765"
1636,tt2172584,Maps to the Stars,"$338,190","canada, germany, france, usa","Comedy, Drama",David Cronenberg,67.0,Focus Features,R,6.2,61%,111 min,movie,"35,824"
1647,tt2637378,Match,"$30,469",usa,"Comedy, Drama",Stephen Belber,62.0,IFC Films,R,6.7,76%,92 min,movie,"2,000"
1655,tt2151739,Meet Me in Montenegro,"$7,367","usa, germany, norway, uk, montenegro","Comedy, Drama, Romance","Alex Holdridge, Linnea Saasen",51.0,The Orchard,NOT RATED,6.1,50%,90 min,movie,236

In [19]:
len(df)

213

In [20]:
df.to_csv('../data/cleaned_2014_data.csv', index=False)

In [21]:
train = df[['title', 'box_office', 'country', 'genre', 'production', 'rating', 'runtime']]
train.head()

,title,box_office,country,genre,production,rating,runtime
33,22 Jump Street,"$154,295,930",usa,"Action, Comedy, Crime",Sony Pictures,R,112 min
34,23 Blast,"$485,128",usa,"Drama, Family, Sport",Ocean Avenue Entertainment,PG-13,98 min
37,3 Nights in the Desert,"$1,279",usa,Drama,Monterey Media Inc.,R,90 min
44,300: Rise of an Empire,"$91,024,535",usa,"Action, Drama",Warner Bros. Pictures,R,102 min
54,5 to 7,"$117,066",usa,"Comedy, Drama, Romance",IFC Films,R,95 min

In [22]:
train = train.reset_index(drop = True)
train.head()

,title,box_office,country,genre,production,rating,runtime
0,22 Jump Street,"$154,295,930",usa,"Action, Comedy, Crime",Sony Pictures,R,112 min
1,23 Blast,"$485,128",usa,"Drama, Family, Sport",Ocean Avenue Entertainment,PG-13,98 min
2,3 Nights in the Desert,"$1,279",usa,Drama,Monterey Media Inc.,R,90 min
3,300: Rise of an Empire,"$91,024,535",usa,"Action, Drama",Warner Bros. Pictures,R,102 min
4,5 to 7,"$117,066",usa,"Comedy, Drama, Romance",IFC Films,R,95 min

In [23]:
train['country'] = train['country'].str.count(',')
train['country'] = train['country'] + 1
train.head()

,title,box_office,country,genre,production,rating,runtime
0,22 Jump Street,"$154,295,930",1,"Action, Comedy, Crime",Sony Pictures,R,112 min
1,23 Blast,"$485,128",1,"Drama, Family, Sport",Ocean Avenue Entertainment,PG-13,98 min
2,3 Nights in the Desert,"$1,279",1,Drama,Monterey Media Inc.,R,90 min
3,300: Rise of an Empire,"$91,024,535",1,"Action, Drama",Warner Bros. Pictures,R,102 min
4,5 to 7,"$117,066",1,"Comedy, Drama, Romance",IFC Films,R,95 min

In [24]:
train['genre'] = train['genre'].str.count(',')
train['genre'] = train['genre'] + 1
train.head()

,title,box_office,country,genre,production,rating,runtime
0,22 Jump Street,"$154,295,930",1,3,Sony Pictures,R,112 min
1,23 Blast,"$485,128",1,3,Ocean Avenue Entertainment,PG-13,98 min
2,3 Nights in the Desert,"$1,279",1,1,Monterey Media Inc.,R,90 min
3,300: Rise of an Empire,"$91,024,535",1,2,Warner Bros. Pictures,R,102 min
4,5 to 7,"$117,066",1,3,IFC Films,R,95 min

In [25]:
train['rating'].value_counts()

R            87
PG-13        68
PG           23
Not Rated    14
NOT RATED     4
Unrated       3
G             2
TV-14         1
Name: rating, dtype: int64

In [26]:
train['rating'] = train['rating'].str.replace('Not Rated', 'Unrated')
train.head()

,title,box_office,country,genre,production,rating,runtime
0,22 Jump Street,"$154,295,930",1,3,Sony Pictures,R,112 min
1,23 Blast,"$485,128",1,3,Ocean Avenue Entertainment,PG-13,98 min
2,3 Nights in the Desert,"$1,279",1,1,Monterey Media Inc.,R,90 min
3,300: Rise of an Empire,"$91,024,535",1,2,Warner Bros. Pictures,R,102 min
4,5 to 7,"$117,066",1,3,IFC Films,R,95 min

In [27]:
train['rating'] = train['rating'].fillna('Unrated')

In [28]:
train['rating'].value_counts()

R            87
PG-13        68
Unrated      28
PG           23
NOT RATED     4
G             2
TV-14         1
Name: rating, dtype: int64

In [29]:
train['runtime'] = train['runtime'].astype(str)

In [30]:
train['runtime'] = train['runtime'].apply(lambda x: x.replace(' min',''))
train.head()

,title,box_office,country,genre,production,rating,runtime
0,22 Jump Street,"$154,295,930",1,3,Sony Pictures,R,112
1,23 Blast,"$485,128",1,3,Ocean Avenue Entertainment,PG-13,98
2,3 Nights in the Desert,"$1,279",1,1,Monterey Media Inc.,R,90
3,300: Rise of an Empire,"$91,024,535",1,2,Warner Bros. Pictures,R,102
4,5 to 7,"$117,066",1,3,IFC Films,R,95

In [31]:
train['runtime'] = train['runtime'].apply(lambda x: x.replace('nan','0'))
train.head()

,title,box_office,country,genre,production,rating,runtime
0,22 Jump Street,"$154,295,930",1,3,Sony Pictures,R,112
1,23 Blast,"$485,128",1,3,Ocean Avenue Entertainment,PG-13,98
2,3 Nights in the Desert,"$1,279",1,1,Monterey Media Inc.,R,90
3,300: Rise of an Empire,"$91,024,535",1,2,Warner Bros. Pictures,R,102
4,5 to 7,"$117,066",1,3,IFC Films,R,95

In [32]:
train['runtime'] = train['runtime'].astype(int)

In [33]:
train.production.value_counts()

IFC Films                         13
Sony Pictures                     13
Warner Bros. Pictures             12
20th Century Fox                  12
Paramount Pictures                11
                                  ..
Millennium Entertainment           1
Honora Productions                 1
Lionsgate/Roadside Attractions     1
Magnet Releasing                   1
Sony/Screen Gems                   1
Name: production, Length: 85, dtype: int64

In [34]:
train['production'] = train['production'].fillna('NaN')

In [35]:
train['box_office'] = train['box_office'].apply(lambda x: x.replace('$',''))
train.head()

,title,box_office,country,genre,production,rating,runtime
0,22 Jump Street,"154,295,930",1,3,Sony Pictures,R,112
1,23 Blast,"485,128",1,3,Ocean Avenue Entertainment,PG-13,98
2,3 Nights in the Desert,"1,279",1,1,Monterey Media Inc.,R,90
3,300: Rise of an Empire,"91,024,535",1,2,Warner Bros. Pictures,R,102
4,5 to 7,"117,066",1,3,IFC Films,R,95

In [36]:
train['box_office'] = train['box_office'].apply(lambda x: x.replace(',',''))
train.head()

,title,box_office,country,genre,production,rating,runtime
0,22 Jump Street,154295930,1,3,Sony Pictures,R,112
1,23 Blast,485128,1,3,Ocean Avenue Entertainment,PG-13,98
2,3 Nights in the Desert,1279,1,1,Monterey Media Inc.,R,90
3,300: Rise of an Empire,91024535,1,2,Warner Bros. Pictures,R,102
4,5 to 7,117066,1,3,IFC Films,R,95

In [37]:
train['box_office'] = train['box_office'].astype(int)
train.head()

,title,box_office,country,genre,production,rating,runtime
0,22 Jump Street,154295930,1,3,Sony Pictures,R,112
1,23 Blast,485128,1,3,Ocean Avenue Entertainment,PG-13,98
2,3 Nights in the Desert,1279,1,1,Monterey Media Inc.,R,90
3,300: Rise of an Empire,91024535,1,2,Warner Bros. Pictures,R,102
4,5 to 7,117066,1,3,IFC Films,R,95

In [38]:
train.dtypes

title         object
box_office     int32
country        int64
genre          int64
production    object
rating        object
runtime        int32
dtype: object

In [39]:
train.dtypes

title         object
box_office     int32
country        int64
genre          int64
production    object
rating        object
runtime        int32
dtype: object

In [40]:
train['year'] = 2014

In [41]:
train.to_csv('../data/train_data_2014.csv', index=False)

In [42]:
train = train.sort_values(by=['box_office'], ascending=False)

In [43]:
train.head()

,title,box_office,country,genre,production,rating,runtime,year
165,The Hunger Games,407981652,1,4,Lionsgate,PG-13,142,2014
163,The Hunger Games: Mockingjay - Part 1,295457212,1,4,Lionsgate Films,PG-13,123,2014
164,The Hangover,277313371,2,1,Warner Bros. Pictures,R,100,2014
19,American Sniper,274377268,1,4,Warner Bros.,R,133,2014
64,Guardians of the Galaxy,270592504,1,4,Walt Disney Pictures,PG-13,121,2014

In [44]:
train.iloc[:20, 1]=1

In [45]:
train.head()

,title,box_office,country,genre,production,rating,runtime,year
165,The Hunger Games,1,1,4,Lionsgate,PG-13,142,2014
163,The Hunger Games: Mockingjay - Part 1,1,1,4,Lionsgate Films,PG-13,123,2014
164,The Hangover,1,2,1,Warner Bros. Pictures,R,100,2014
19,American Sniper,1,1,4,Warner Bros.,R,133,2014
64,Guardians of the Galaxy,1,1,4,Walt Disney Pictures,PG-13,121,2014

In [46]:
train.iloc[20:,1]=0

In [47]:
train.head()

,title,box_office,country,genre,production,rating,runtime,year
165,The Hunger Games,1,1,4,Lionsgate,PG-13,142,2014
163,The Hunger Games: Mockingjay - Part 1,1,1,4,Lionsgate Films,PG-13,123,2014
164,The Hangover,1,2,1,Warner Bros. Pictures,R,100,2014
19,American Sniper,1,1,4,Warner Bros.,R,133,2014
64,Guardians of the Galaxy,1,1,4,Walt Disney Pictures,PG-13,121,2014

In [48]:
train.to_csv('../data/train.log_data_2014.csv', index=False)