In [1]:
import pandas as pd

In [2]:
batch_1 = pd.read_csv('../data/2013_data_batch_1.csv')
batch_2 = pd.read_csv('../data/2013_data_batch_2.csv')
batch_3 = pd.read_csv('../data/2013_data_batch_3.csv')
batch_4 = pd.read_csv('../data/2013_data_batch_4.csv')

In [3]:
len(batch_1)

993

In [4]:
len(batch_2)

995

In [5]:
len(batch_3)

993

In [6]:
len(batch_4)

307

In [7]:
df = pd.DataFrame()

In [8]:
df = pd.concat([batch_1, batch_2, batch_3, batch_4], ignore_index=True)

In [9]:
len(df)

3288

In [10]:
df.head(100)

,title_id,title,box_office,country,genre,director,metascore,production,rating,IMDB_rating,rotten_tomatoes_rating,runtime,type,IMDB_votes
0,tt2346170,#1 Serial Killer,NaN,USA,Horror,Stanley Yung,NaN,Indican Pictures,NaN,5.9,NaN,87 min,movie,37
1,tt3120962,#5,NaN,NaN,"Biography, Comedy, Fantasy",Ricky Bardy,NaN,NaN,NaN,NaN,NaN,1 h 8 min,movie,NaN
2,tt2777190,'Til Morning,NaN,USA,"Drama, Family, Fantasy",Brendan Russo,NaN,NaN,NaN,8.6,NaN,57 min,movie,7
3,tt2395385,+1,NaN,USA,"Horror, Sci-Fi, Thriller",Dennis Iliadis,60.0,IFC Films,Not Rated,5.5,82%,96 min,movie,"7,481"
4,tt2506748,.357,NaN,USA,"Action, Drama",Brian Skiba,NaN,NaN,Not Rated,5.0,NaN,97 min,movie,55
5,tt3118542,1 Dead Party,NaN,USA,"Comedy, Horror, Thriller",Matty Castano,NaN,NaN,NaN,4.8,NaN,83 min,movie,29
6,tt3226634,1-9,NaN,USA,"Animation, Biography, Drama",Paul Pescador,NaN,NaN,NaN,NaN,NaN,77 min,movie,NaN
7,tt1993391,10 Rules for Sleeping Around,NaN,USA,"Comedy, Romance",Leslie Greif,1.0,Screen Media Films,R,3.6,0%,94 min,movie,"2,679"
8,tt2538128,100 Degrees Below Zero,NaN,USA,"Action, Adventure, Drama, Sci-Fi, Thriller",R.D. Braunstein,NaN,WARNER BROTHERS PICTURES,Not Rated,2.4,NaN,89 min,movie,"1,849"
9,tt3529392,1000 Waves to Surfing Glory,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,133 min,movie,NaN
10,tt4008940,110%,NaN,NaN,NaN,Cara Perlman,NaN,NaN,NaN,NaN,NaN,59 min,movie,NaN
11,tt2317524,12 Rounds 2: Reloaded,NaN,USA,"Action, Adventure, Thriller",Roel Reiné,NaN,Twentieth Century Fox Home Entertainment,R,5.3,NaN,95 min,movie,"5,034"
12,tt2024544,12 Years a Slave,"$50,628,650","USA, UK","Biography, Drama, History",Steve McQueen,96.0,Fox Searchlight,R,8.1,95%,134 min,movie,"597,190"
13,tt3331274,"13, 195, 6 und 1",NaN,USA,Drama,Terry Rice,NaN,NaN,Not Rated,8.0,NaN,87 min,movie,7
14,tt2991516,13/13/13,NaN,USA,Horror,James Cullen Bressack,NaN,WARNER BROTHERS PICTURES,Not Rated,3.3,NaN,86 min,movie,"1,535"
15,tt2431686,15 North,NaN,USA,"Adventure, Comedy, Drama",Aaron Fradkin,NaN,NaN,NaN,7.5,NaN,81 min,movie,15
16,tt3328724,17 Seconds,NaN,USA,Sport,Patrick Dahl,NaN,NaN,NaN,6.8,NaN,53 min,movie,27
17,tt10476634,1972 Yellow House,NaN,USA,Horror,Curtis Stone,NaN,NaN,Not Rated,4.0,NaN,52 min,movie,6
18,tt2388621,1982,NaN,USA,Drama,Tommy Oliver,NaN,LionsGate Entertainment,R,7.0,78%,90 min,movie,249
19,tt3982302,1989,NaN,USA,Drama,Jason William Power,NaN,NaN,NaN,NaN,NaN,NaN,movie,NaN
20,tt4322094,1Night 2Last 3Ever,NaN,USA,"Comedy, Musical",Brian Holden,NaN,NaN,NaN,4.8,NaN,120 min,movie,5
21,tt2378390,2 Dead 2 Kill,NaN,USA,Action,"Michael J. Hach, Neil Kinsella",NaN,Pit Bulls and Shotguns,NaN,5.6,NaN,90 min,movie,12
22,tt1272878,2 Guns,"$73,500,000",USA,"Action, Comedy, Thriller",Baltasar Kormákur,55.0,Universal Pictures,R,6.7,64%,109 min,movie,"185,722"
23,tt3509408,2 to Tangle,NaN,USA,Drama,Caleb Johnson,NaN,Son Films,NaN,6.0,NaN,108 min,movie,35
24,tt2082155,Looking for Maria Sanchez,NaN,"Puerto Rico, USA","Comedy, Romance",Bruno Irizarry,NaN,Vanguardia Films,NaN,7.2,NaN,98 min,movie,360
25,tt4149040,2012 Gold Rush Expedition Race,NaN,USA,Sport,Brian J. Leitten,NaN,NaN,NaN,NaN,NaN,68 min,movie,NaN
26,tt2697322,2013: Holocaust,NaN,USA,"Action, Adventure, Thriller",Ken Potocki,NaN,NaN,NaN,NaN,NaN,NaN,movie,NaN
27,tt2243215,2021,NaN,USA,Drama,"Dave Ash, Paul von Stoetzel",NaN,NaN,NaN,6.4,NaN,87 min,movie,14
28,tt2965278,2057: Return to Zombie Island,NaN,USA,Horror,Gary Davis,NaN,NaN,NaN,3.2,NaN,NaN,movie,21
29,tt1711425,21 & Over,"$25,675,765",USA,Comedy,"Jon Lucas, Scott Moore",34.0,Relativity Media,R,5.8,26%,93 min,movie,"69,943"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,tt1670916,The Box Cutter,NaN,USA,"Drama, Mystery",Renzo Vasquez,NaN,NaN,NaN,6.1,NaN,100 min,movie,44
71,tt2857720,A Bulldog for Christmas,NaN,USA,"Comedy, Family",Henrique Couto,NaN,NaN,NaN,3.9,NaN,83 min,movie,67
72,tt1817081,A Case of You,NaN,USA,"Comedy, Romance",Kat Coiro,38.0,IFC Films,R,5.6,47%,89 min,movie,"10,788"
73,tt7747454,A Christmas Carol Radio Show,NaN,USA,NaN,Chuck Rubin,NaN,NaN,NaN,NaN,NaN,90 min,movie,NaN
74,tt2328727,A Christmas Tree Miracle,NaN,USA,Family,J.W. Myers,NaN,Route 40 Films,TV-G,6.7,NaN,102 min,movie,644
75,tt3226430,A Christmas Wedding,NaN,USA,Comedy,Tyler Maddox,NaN,Anderson Digital,Not Rated,4.5,NaN,80 min,movie,46
76,tt2620860,A Coming Day,NaN,USA,Drama,Mike Slay,NaN,NaN,NaN,NaN,NaN,82 min,movie,NaN
77,tt2104837,Death Watch,NaN,"Sri Lanka, USA","Action, Thriller",Chandran Rutnam,NaN,Anchor Bay Entertainment,PG-13,4.7,NaN,86 min,movie,"2,126"
78,tt2098799,A Country Christmas,NaN,USA,Family,Dustin Rikert,NaN,Lightning Media,PG,6.0,NaN,91 min,movie,267
79,tt4926858,A Cowards Dream,NaN,USA,Drama,Jerome Dysco Jackson,NaN,NaN,NaN,NaN,NaN,91 min,movie,NaN
80,tt3103758,A Dark Souvenir,NaN,"USA, Sweden, Denmark","Horror, Thriller",Matthew Pillischer,NaN,NaN,NaN,NaN,NaN,80 min,movie,NaN
81,tt3393244,A Day,NaN,USA,Drama,Clay Spicer,NaN,NaN,NaN,NaN,NaN,97 min,movie,NaN
82,tt3137628,A Day in Chicago and in New York City: Short F...,NaN,NaN,NaN,Rick Agazzi,NaN,NaN,NaN,NaN,NaN,NaN,movie,NaN
83,tt2712658,A Demon in My View,NaN,USA,"Horror, Thriller",Matthew Lipke,NaN,NaN,NaN,3.3,NaN,169 min,movie,6
84,tt2759076,A Devil in God's House,NaN,USA,Drama,L'Tisha Vaughn,NaN,NaN,NaN,NaN,NaN,NaN,movie,NaN
85,tt3133080,A Discussion on the American Landscape,NaN,USA,Drama,Loocis Scott,NaN,NaN,NaN,NaN,NaN,NaN,movie,NaN
86,tt2353761,A Family on Edge,NaN,USA,Drama,"Bruce Locke, Hakim Robinson",NaN,NaN,R,NaN,NaN,112 min,movie,NaN
87,tt6703928,A Fool's Paradise,NaN,USA,NaN,Dylan McKay,NaN,NaN,NaN,NaN,NaN,67 min,movie,NaN
88,tt2948868,A Foreign Heart of Hope,NaN,NaN,"Short, Drama, Family",Cristhian Andrews,NaN,NaN,NaN,NaN,NaN,15 min,movie,NaN
89,tt3350124,A Gangster's Word,NaN,USA,Drama,Kate Whitney,NaN,NaN,NaN,4.7,NaN,NaN,movie,22
90,tt1606378,A Good Day to Die Hard,"$67,344,392","USA, Russia, Hungary","Action, Thriller",John Moore,28.0,20th Century Fox,R,5.3,15%,98 min,movie,"192,108"
91,tt2545128,A Grain of Sand,NaN,USA,Comedy,Michael Sneed,NaN,NaN,NaN,6.2,NaN,NaN,movie,6
92,tt2033937,A Guy Named Rick,NaN,USA,"Comedy, Fantasy",Joe Benedetto,NaN,NaN,NaN,7.5,NaN,102 min,movie,NaN
93,tt2914396,A Happening,NaN,USA,Sci-Fi,Clay Spicer,NaN,NaN,NOT RATED,NaN,NaN,97 min,movie,NaN
94,tt2243537,A Haunted House,"$32,536,865",USA,"Comedy, Fantasy",Michael Tiddes,20.0,Open Road Films,R,5.0,10%,86 min,movie,"41,472"
95,tt1813609,A Haunting at Silver Falls,NaN,USA,"Horror, Thriller",Brett Donowho,NaN,Inception Media Group,Not Rated,4.8,NaN,96 min,movie,"2,620"
96,tt2417834,A Leading Man,NaN,USA,Drama,Steven J. Kung,NaN,Mance Media,NOT RATED,6.7,NaN,96 min,movie,40
97,tt3017382,A Leap to Take,NaN,USA,Drama,Rob Nilsson,NaN,NaN,NaN,NaN,NaN,NaN,movie,NaN
98,tt3248978,A Letter for Joe,NaN,USA,Family,De Miller,NaN,NaN,NOT RATED,5.6,NaN,96 min,movie,12
99,tt3104828,A Liar's Belief,NaN,USA,"Drama, Family, Mystery",Benedict A. Dorsey,NaN,NaN,NaN,NaN,NaN,94 min,movie,NaN

In [11]:
total = len(df.country.unique())
unique = df.country.unique()
for i in range (total):
    print(unique[i])

USA
nan
USA, UK
Puerto Rico, USA
USA, UK, Japan, Hungary
Colombia, USA
Sri Lanka, USA
USA, Sweden, Denmark
USA, Russia, Hungary
USA, Spain
USA, UK, Austria, Norway, Switzerland
UK, USA, Canada
UK, USA
USA, Australia, Canada
Canada, USA
USA, Indonesia
Spain, USA, UK, France
Antarctica, USA
Australia, USA
USA, Russia
Italy, USA
Austria, USA
Ireland, USA
Bahamas, USA
India, USA, Germany, France
Germany, USA
USA, Singapore
USA, Greece
Russia, USA
USA, Cameroon
France, USA
USA, France
Sweden, USA
Mexico, USA, Colombia
USA, Philippines
UK, USA, Sweden
USA, Mexico
UK, USA, France
USA, Australia
Switzerland, USA
France, USA, Belgium
Romania, USA
India, USA
India, United Arab Emirates, USA
USA, Canada
USA, South Korea
El Salvador, USA
India, France, Germany, USA, Canada
Iceland, USA
Venezuela, USA
USA, Serbia and Montenegro, Switzerland, Sweden, Russia, Poland, Netherlands, Lithuania, Italy, Israel, Hungary, Germany, France, Estonia, Denmark, Czech Republic, Croatia, Bulgaria, Belgium, Austria
USA, India, Canada
USA, France, Belarus
USA, France, Japan
Thailand, USA
Brazil, USA
USA, Guatemala
Spain, USA
France, Belgium, Germany, Spain, Luxembourg, USA
USA, Albania
UK, Germany, Sweden, Belgium, USA
USA, Japan, Argentina, Costa Rica
China, USA
Netherlands, USA, Czech Republic
U.S. Virgin Islands, USA
Taiwan, USA
USA, Japan, Spain, UK
USA, Germany
USA, Bulgaria
USA, Italy
UK
USA, Czech Republic
USA, South Africa, Germany
Australia, Philippines, USA
USA, South Korea, Denmark, France, Switzerland
Japan, USA
Israel, USA
Romania, Republic of Macedonia, USA, Greece, Albania
Serbia, Hungary, USA
USA, UK, France
West Germany, USA
Indonesia, USA
Ireland, UK, USA
USA, Switzerland
USA, Pakistan
USA, Colombia, Venezuela, Ecuador
USA, India
USA, Belgium, Bulgaria
USA, Peru
USA, Spain, Italy
USA, France, Canada
Canada, USA, Germany
France, USA, Canada, Morocco, Senegal
Mexico, USA
USA, Mexico, Japan, Ireland, Indonesia, French Polynesia
Bulgaria, Ireland, USA
Chile, USA
South Korea, USA
USA, China, Hong Kong
Jordan, Qatar, USA
Cameroon, USA
USA, France, Italy, Swaziland, Monaco, Switzerland
Nigeria, USA
Germany, Belgium, USA, France
USA, Thailand
USA, Armenia
USA, Nigeria
USA, Taiwan
USA, Argentina
USA, Belgium
USA, Colombia
Denmark, Germany, Belgium, UK, France, Sweden, USA
USA, South Africa
Denmark, France, USA, Sweden, Belgium
USA, Hungary
USA, India, France
USA, Israel, Jordan
Norway, USA
USA, Japan, France, Spain
South Korea, China, Hong Kong, USA
Sri Lanka, USA, New Zealand
UK, Germany, USA
USA, Japan
USA, UK, Australia
Czech Republic, USA
Pakistan, USA
Germany, USA, France, UK
USA, Canada, Bahamas, Australia
USA, United Arab Emirates, UK
USA, Cuba, Mexico
Ethiopia, USA, Mexico, Italy, Egypt
Spain, South Korea, USA
USA, Belize
Argentina, USA, France
USA, UK, France, Germany, Japan
Poland, USA
Israel, Germany, Poland, Luxembourg, Belgium, France, USA
USA, Russia, UK
UK, New Zealand, USA
Hong Kong, USA
USA, India, Belgium
USA, South Africa, Lesotho
Italy, Germany, USA, Japan
USA, Spain, Chile, Peru
USA, New Zealand
Canada, Australia, USA
UK, USA, Australia
USA, Germany, Canada, UK
USA, Romania
France, Switzerland, USA
UK, Belgium, USA
Ireland, USA, UK
USA, Afghanistan, France, Belgium, Canada
USA, Ukraine
USA, Denmark, UK
USA, France, Canada, Belgium
UK, USA, Spain, Slovenia, Japan, Italy, France, Chile, Canada, Bulgaria
USA, Switzerland, China
UK, USA, Japan
UK, Romania, France, USA
USA, Ireland, Czech Republic, Poland
Belgium, USA, UK, Germany, Italy
Morocco, USA
USA, Italy, Hungary
USA, Israel, Palestine
Switzerland, UK, USA
USA, Canada, Indonesia
USA, Netherlands, France
Malaysia, USA
USA, China
UK, Australia, USA
Romania, Hungary, Canada, USA
Lithuania, USA
Puerto Rico, USA, UK
USA, Canada, Australia
USA, UK, Malta
France, Russia, USA, Belgium, Angola, Portugal
Turkey, USA
Italy, USA, Germany, Canada

In [12]:
df.country = df.country.str.lower()

In [13]:
df = df[df['country'].str.contains("usa", na=False)]

In [14]:
total = len(df.country.unique())
unique = df.country.unique()
for i in range (total):
    print(unique[i])

usa
usa, uk
puerto rico, usa
usa, uk, japan, hungary
colombia, usa
sri lanka, usa
usa, sweden, denmark
usa, russia, hungary
usa, spain
usa, uk, austria, norway, switzerland
uk, usa, canada
uk, usa
usa, australia, canada
canada, usa
usa, indonesia
spain, usa, uk, france
antarctica, usa
australia, usa
usa, russia
italy, usa
austria, usa
ireland, usa
bahamas, usa
india, usa, germany, france
germany, usa
usa, singapore
usa, greece
russia, usa
usa, cameroon
france, usa
usa, france
sweden, usa
mexico, usa, colombia
usa, philippines
uk, usa, sweden
usa, mexico
uk, usa, france
usa, australia
switzerland, usa
france, usa, belgium
romania, usa
india, usa
india, united arab emirates, usa
usa, canada
usa, south korea
el salvador, usa
india, france, germany, usa, canada
iceland, usa
venezuela, usa
usa, serbia and montenegro, switzerland, sweden, russia, poland, netherlands, lithuania, italy, israel, hungary, germany, france, estonia, denmark, czech republic, croatia, bulgaria, belgium, austria
usa, india, canada
usa, france, belarus
usa, france, japan
thailand, usa
brazil, usa
usa, guatemala
spain, usa
france, belgium, germany, spain, luxembourg, usa
usa, albania
uk, germany, sweden, belgium, usa
usa, japan, argentina, costa rica
china, usa
netherlands, usa, czech republic
u.s. virgin islands, usa
taiwan, usa
usa, japan, spain, uk
usa, germany
usa, bulgaria
usa, italy
usa, czech republic
usa, south africa, germany
australia, philippines, usa
usa, south korea, denmark, france, switzerland
japan, usa
israel, usa
romania, republic of macedonia, usa, greece, albania
serbia, hungary, usa
usa, uk, france
west germany, usa
indonesia, usa
ireland, uk, usa
usa, switzerland
usa, pakistan
usa, colombia, venezuela, ecuador
usa, india
usa, belgium, bulgaria
usa, peru
usa, spain, italy
usa, france, canada
canada, usa, germany
france, usa, canada, morocco, senegal
mexico, usa
usa, mexico, japan, ireland, indonesia, french polynesia
bulgaria, ireland, usa
chile, usa
south korea, usa
usa, china, hong kong
jordan, qatar, usa
cameroon, usa
usa, france, italy, swaziland, monaco, switzerland
nigeria, usa
germany, belgium, usa, france
usa, thailand
usa, armenia
usa, nigeria
usa, taiwan
usa, argentina
usa, belgium
usa, colombia
denmark, germany, belgium, uk, france, sweden, usa
usa, south africa
denmark, france, usa, sweden, belgium
usa, hungary
usa, india, france
usa, israel, jordan
norway, usa
usa, japan, france, spain
south korea, china, hong kong, usa
sri lanka, usa, new zealand
uk, germany, usa
usa, japan
usa, uk, australia
czech republic, usa
pakistan, usa
germany, usa, france, uk
usa, canada, bahamas, australia
usa, united arab emirates, uk
usa, cuba, mexico
ethiopia, usa, mexico, italy, egypt
spain, south korea, usa
usa, belize
argentina, usa, france
usa, uk, france, germany, japan
poland, usa
israel, germany, poland, luxembourg, belgium, france, usa
usa, russia, uk
uk, new zealand, usa
hong kong, usa
usa, india, belgium
usa, south africa, lesotho
italy, germany, usa, japan
usa, spain, chile, peru
usa, new zealand
canada, australia, usa
uk, usa, australia
usa, germany, canada, uk
usa, romania
france, switzerland, usa
uk, belgium, usa
ireland, usa, uk
usa, afghanistan, france, belgium, canada
usa, ukraine
usa, denmark, uk
usa, france, canada, belgium
uk, usa, spain, slovenia, japan, italy, france, chile, canada, bulgaria
usa, switzerland, china
uk, usa, japan
uk, romania, france, usa
usa, ireland, czech republic, poland
belgium, usa, uk, germany, italy
morocco, usa
usa, italy, hungary
usa, israel, palestine
switzerland, uk, usa
usa, canada, indonesia
usa, netherlands, france
malaysia, usa
usa, china
uk, australia, usa
romania, hungary, canada, usa
lithuania, usa
puerto rico, usa, uk
usa, canada, australia
usa, uk, malta
france, russia, usa, belgium, angola, portugal
turkey, usa
italy, usa, germany, canada

In [15]:
len(df)

3207

In [16]:
df = df[df.box_office.notnull()]

In [17]:
len(df)

260

In [18]:
# drop min number of non-NA values
df = df.dropna(thresh=7)
df.head(100)

,title_id,title,box_office,country,genre,director,metascore,production,rating,IMDB_rating,rotten_tomatoes_rating,runtime,type,IMDB_votes
12,tt2024544,12 Years a Slave,"$50,628,650","usa, uk","Biography, Drama, History",Steve McQueen,96.0,Fox Searchlight,R,8.1,95%,134 min,movie,"597,190"
22,tt1272878,2 Guns,"$73,500,000",usa,"Action, Comedy, Thriller",Baltasar Kormákur,55.0,Universal Pictures,R,6.7,64%,109 min,movie,"185,722"
29,tt1711425,21 & Over,"$25,675,765",usa,Comedy,"Jon Lucas, Scott Moore",34.0,Relativity Media,R,5.8,26%,93 min,movie,"69,943"
40,tt0453562,42,"$95,001,343",usa,"Biography, Drama, Sport",Brian Helgeland,62.0,Warner Bros. Pictures,PG-13,7.5,80%,128 min,movie,"79,660"
43,tt1335975,47 Ronin,"$20,518,224","usa, uk, japan, hungary","Action, Drama, Fantasy",Carl Rinsch,28.0,Universal Pictures,PG-13,6.2,16%,128 min,movie,"139,967"
90,tt1606378,A Good Day to Die Hard,"$67,344,392","usa, russia, hungary","Action, Thriller",John Moore,28.0,20th Century Fox,R,5.3,15%,98 min,movie,"192,108"
94,tt2243537,A Haunted House,"$32,536,865",usa,"Comedy, Fantasy",Michael Tiddes,20.0,Open Road Films,R,5.0,10%,86 min,movie,"41,472"
102,tt2609758,A Madea Christmas,"$52,528,330",usa,"Comedy, Drama, Romance",Tyler Perry,28.0,Lionsgate,PG-13,4.8,20%,100 min,movie,"5,617"
103,tt2276069,A Master Builder,"$46,874",usa,Drama,Jonathan Demme,67.0,Abramorama Entertainment,Not Rated,5.9,81%,130 min,movie,666
116,tt2275471,A Perfect Man,$388,usa,"Drama, Romance",Kees Van Oostrum,31.0,IFC Films,R,5.2,20%,95 min,movie,"1,840"
139,tt2201548,A Teacher,"$4,000",usa,"Drama, Romance",Hannah Fidell,47.0,Oscilloscope Laboratories,Not Rated,4.7,34%,75 min,movie,"4,076"
150,tt1311060,A.C.O.D.,"$123,368",usa,Comedy,Stuart Zicherman,50.0,The Film Arcade,R,5.6,52%,88 min,movie,"12,239"
171,tt1814621,Admission,"$18,000,000",usa,"Comedy, Drama, Romance",Paul Weitz,48.0,Focus Features,PG-13,5.7,38%,107 min,movie,"32,274"
172,tt1067765,Adult World,"$16,740",usa,"Comedy, Drama",Scott Coffey,61.0,IFC Films,R,6.1,54%,97 min,movie,"16,268"
176,tt2309961,Afflicted,"$121,179","canada, usa","Horror, Mystery, Thriller","Derek Lee, Clif Prowse",56.0,CBS Films,R,6.3,83%,85 min,movie,"20,673"
178,tt1815862,After Earth,"$60,522,097",usa,"Action, Adventure, Drama, Fantasy, Mystery, Sc...",M. Night Shyamalan,33.0,Sony Pictures,PG-13,4.8,11%,100 min,movie,"185,333"
183,tt0490075,Aftermath,"$2,955",usa,"Crime, Thriller",Thomas Farone,NaN,Freestyle Releasing,R,5.0,NaN,84 min,movie,276
184,tt2312890,Afternoon Delight,"$174,496",usa,"Comedy, Drama",Jill Soloway,50.0,The Film Arcade,R,5.7,67%,98 min,movie,"9,147"
188,tt2388637,Ain't Them Bodies Saints,"$200,000",usa,"Crime, Drama, Romance",David Lowery,74.0,IFC Films,R,6.4,78%,96 min,movie,"19,757"
201,tt1462901,All Is Bright,"$4,556",usa,"Comedy, Drama",Phil Morrison,54.0,Anchor Bay Films,R,5.6,48%,107 min,movie,"5,530"
202,tt2017038,All Is Lost,"$4,300,353",usa,"Adventure, Drama",J.C. Chandor,87.0,Lionsgate/Roadside Attractions,PG-13,6.9,94%,106 min,movie,"72,869"
210,tt2325517,Almost Human,"$6,986",usa,"Horror, Sci-Fi, Thriller",Joe Begos,40.0,IFC Films,Unrated,4.6,45%,80 min,movie,"2,830"
213,tt1986769,Alone Yet Not Alone,"$668,172",usa,"Action, Drama, History, Romance, War","Ray Bengston, George D. Escobar(co-director)",NaN,Hammond Entertainment,PG-13,4.5,NaN,103 min,movie,677
231,tt1800241,American Hustle,"$99,165,609",usa,"Crime, Drama",David O. Russell,90.0,Sony Pictures,R,7.2,92%,138 min,movie,"428,272"
251,tt1229340,Anchorman 2: The Legend Continues,"$76,820,043",usa,Comedy,Adam McKay,61.0,Paramount Pictures,PG-13,6.3,75%,119 min,movie,"160,646"
290,tt1807944,As I Lay Dying,"$15,009",usa,Drama,James Franco,50.0,Millennium Entertainment,R,5.4,38%,110 min,movie,"3,647"
305,tt1483324,At Middleton,"$52,926",usa,"Comedy, Romance",Adam Rodgers,60.0,Anchor Bay and Freestyle Releasing,R,6.5,59%,99 min,movie,"7,415"
311,tt1322269,August: Osage County,"$29,202,643",usa,"Comedy, Drama",John Wells,58.0,The Weinstein Company,R,7.2,65%,121 min,movie,"80,901"
313,tt1985019,Austenland,"$2,155,334","uk, usa","Comedy, Romance",Jerusha Hess,42.0,Sony Pictures Classics,PG-13,6.3,31%,97 min,movie,"18,326"
325,tt1684548,Axe Giant: The Wrath of Paul Bunyan,"$2,498",usa,"Fantasy, Horror",Gary Jones,NaN,Cinema Purgatorio,R,3.5,NaN,90 min,movie,"1,004"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
960,tt1288558,Evil Dead,"$54,200,000",usa,"Fantasy, Horror, Thriller",Fede Alvarez,57.0,TriStar Pictures,R,6.5,62%,91 min,movie,"150,105"
974,tt2258345,Fading Gigolo,"$3,179,352",usa,Comedy,John Turturro,58.0,Millenium Entertainment,R,6.2,55%,90 min,movie,"22,851"
1000,tt2402603,Felony,"$185,429","australia, usa","Crime, Drama, Thriller",Matthew Saville,52.0,Gravitas Ventures,TV-MA,6.1,70%,105 min,movie,"4,659"
1009,tt1450321,Filth,"$23,145","uk, germany, sweden, belgium, usa","Comedy, Crime, Drama",Jon S. Baird,56.0,Magnet Releasing,R,7.1,65%,97 min,movie,"96,291"
1060,tt1621039,Free Birds,"$46,667,023",usa,"Animation, Adventure, Comedy, Family, Sci-Fi",Jimmy Hayward,38.0,Relativity Media,PG,5.9,18%,91 min,movie,"21,520"
1069,tt2294629,Frozen,"$400,736,600",usa,"Animation, Adventure, Comedy, Family, Fantasy,...","Chris Buck, Jennifer Lee",74.0,Walt Disney Pictures,PG,7.5,90%,102 min,movie,"540,929"
1070,tt2334649,Fruitvale Station,"$11,010,136",usa,"Biography, Crime, Drama, Romance",Ryan Coogler,85.0,The Weinstein Company,R,7.5,94%,85 min,movie,"70,174"
1074,tt1905041,Fast & Furious 6,"$238,700,000","usa, japan, spain, uk","Action, Adventure, Thriller",Justin Lin,61.0,Universal Pictures,PG-13,7.1,70%,130 min,movie,"354,629"
1078,tt1583421,G.I. Joe: Retaliation,"$122,512,052",usa,"Action, Adventure, Sci-Fi, Thriller",Jon M. Chu,41.0,Paramount Pictures,PG-13,5.8,29%,110 min,movie,"167,926"
1087,tt1321870,Gangster Squad,"$45,996,718",usa,"Action, Crime, Drama, Thriller",Ruben Fleischer,40.0,Warner Bros.,R,6.7,32%,113 min,movie,"199,430"
1096,tt2167202,Getaway,"$10,494,494","usa, bulgaria","Action, Crime, Thriller",Courtney Solomon,22.0,Warner Bros. Pictures,PG-13,4.4,2%,90 min,movie,"22,481"
1116,tt2247432,Go for Sisters,"$55,963",usa,"Crime, Drama, Thriller",John Sayles,59.0,Variance Films,Unrated,6.3,74%,123 min,movie,471
1136,tt2349460,Grace Unplugged,"$2,507,106",usa,"Drama, Music",Brad J. Silverman,39.0,Roadside Attractions,PG,6.1,50%,102 min,movie,"3,085"
1143,tt1454468,Gravity,"$274,084,951","uk, usa","Drama, Sci-Fi, Thriller",Alfonso Cuarón,96.0,Warner Bros. Pictures,PG-13,7.7,96%,91 min,movie,"728,880"
1155,tt2191701,Grown Ups 2,"$127,400,000",usa,Comedy,Dennis Dugan,19.0,Sony Pictures,PG-13,5.4,7%,101 min,movie,"132,325"
1156,tt1661382,Grudge Match,"$14,885,004",usa,"Comedy, Drama, Sport",Peter Segal,35.0,Warner Bros. Pictures,PG-13,6.4,31%,113 min,movie,"55,382"
1172,tt2330270,Hank and Asha,"$10,544","usa, czech republic","Comedy, Romance",James E. Duff,45.0,FilmRise,NaN,6.5,63%,73 min,movie,349
1175,tt1428538,Hansel & Gretel: Witch Hunters,"$55,000,000","germany, usa","Action, Fantasy, Horror",Tommy Wirkola,23.0,Paramount Pictures/MGM,R,6.1,15%,88 min,movie,"187,172"
1202,tt2318527,Hell Baby,"$4,980",usa,"Comedy, Horror","Robert Ben Garant, Thomas Lennon",41.0,Millenium Entertainment,R,4.9,31%,98 min,movie,"8,611"
1213,tt1798709,Her,"$17,901,029",usa,"Drama, Romance, Sci-Fi",Spike Jonze,90.0,Warner Bros. Pictures,R,8.0,94%,126 min,movie,"495,091"
1250,tt2051894,Home Run,"$2,859,955",usa,"Drama, Sport",David Boyd,NaN,Samuel Goldwyn Films,PG-13,5.9,45%,113 min,movie,"2,788"
1252,tt2312718,Homefront,"$12,641,119",usa,"Action, Thriller",Gary Fleder,40.0,Open Road Films,R,6.5,42%,100 min,movie,"101,333"
1263,tt1528071,Horns,"$511,848","usa, canada","Crime, Drama, Fantasy, Horror, Mystery, Thriller",Alexandre Aja,46.0,Radius-TWC,R,6.5,41%,120 min,movie,"72,224"
1306,tt1893256,Redemption,"$23,595","uk, usa","Action, Drama, Thriller",Steven Knight,43.0,Roadside Attractions,R,6.2,49%,100 min,movie,"62,998"
1323,tt2537176,I Spit on Your Grave 2,$441,usa,"Horror, Thriller",Steven R. Monroe,NaN,Anchor Bay Entertainment,R,5.7,0%,106 min,movie,"25,416"
1324,tt2147728,I Used to Be Darker,"$21,964",usa,"Drama, Music",Matthew Porterfield,69.0,Strand Releasing,Not Rated,5.6,81%,89 min,movie,882
1330,tt1618432,I'm in Love with a Church Girl,"$2,380,405",usa,"Crime, Drama, Romance",Steve Race,23.0,High Top Releasing,PG,4.4,6%,118 min,movie,"1,623"
1339,tt2024432,Identity Thief,"$134,455,175",usa,"Comedy, Crime, Drama",Seth Gordon,35.0,Universal Pictures,R,5.7,19%,111 min,movie,"118,454"
1357,tt0409379,In Secret,"$308,227","serbia, hungary, usa","Crime, Drama, Thriller",Charlie Stratton,47.0,Roadside Attractions,R,6.1,41%,107 min,movie,"7,239"
1361,tt2294677,In a World...,"$2,041,184",usa,Comedy,Lake Bell,79.0,Roadside Attractions,R,6.7,92%,93 min,movie,"29,788"

In [19]:
len(df)

260

In [20]:
df.to_csv('../data/cleaned_2013_data.csv', index=False)

In [21]:
train = df[['title', 'box_office', 'country', 'genre', 'production', 'rating', 'runtime']]
train.head()

,title,box_office,country,genre,production,rating,runtime
12,12 Years a Slave,"$50,628,650","usa, uk","Biography, Drama, History",Fox Searchlight,R,134 min
22,2 Guns,"$73,500,000",usa,"Action, Comedy, Thriller",Universal Pictures,R,109 min
29,21 & Over,"$25,675,765",usa,Comedy,Relativity Media,R,93 min
40,42,"$95,001,343",usa,"Biography, Drama, Sport",Warner Bros. Pictures,PG-13,128 min
43,47 Ronin,"$20,518,224","usa, uk, japan, hungary","Action, Drama, Fantasy",Universal Pictures,PG-13,128 min

In [22]:
train = train.reset_index(drop = True)
train.head()

,title,box_office,country,genre,production,rating,runtime
0,12 Years a Slave,"$50,628,650","usa, uk","Biography, Drama, History",Fox Searchlight,R,134 min
1,2 Guns,"$73,500,000",usa,"Action, Comedy, Thriller",Universal Pictures,R,109 min
2,21 & Over,"$25,675,765",usa,Comedy,Relativity Media,R,93 min
3,42,"$95,001,343",usa,"Biography, Drama, Sport",Warner Bros. Pictures,PG-13,128 min
4,47 Ronin,"$20,518,224","usa, uk, japan, hungary","Action, Drama, Fantasy",Universal Pictures,PG-13,128 min

In [23]:
train['country'] = train['country'].str.count(',')
train['country'] = train['country'] + 1
train.head()

,title,box_office,country,genre,production,rating,runtime
0,12 Years a Slave,"$50,628,650",2,"Biography, Drama, History",Fox Searchlight,R,134 min
1,2 Guns,"$73,500,000",1,"Action, Comedy, Thriller",Universal Pictures,R,109 min
2,21 & Over,"$25,675,765",1,Comedy,Relativity Media,R,93 min
3,42,"$95,001,343",1,"Biography, Drama, Sport",Warner Bros. Pictures,PG-13,128 min
4,47 Ronin,"$20,518,224",4,"Action, Drama, Fantasy",Universal Pictures,PG-13,128 min

In [24]:
train['genre'] = train['genre'].str.count(',')
train['genre'] = train['genre'] + 1
train.head()

,title,box_office,country,genre,production,rating,runtime
0,12 Years a Slave,"$50,628,650",2,3,Fox Searchlight,R,134 min
1,2 Guns,"$73,500,000",1,3,Universal Pictures,R,109 min
2,21 & Over,"$25,675,765",1,1,Relativity Media,R,93 min
3,42,"$95,001,343",1,3,Warner Bros. Pictures,PG-13,128 min
4,47 Ronin,"$20,518,224",4,3,Universal Pictures,PG-13,128 min

In [25]:
train['rating'].value_counts()

R            124
PG-13         77
PG            23
Not Rated     18
Unrated        4
TV-MA          2
NOT RATED      1
G              1
Name: rating, dtype: int64

In [26]:
train['rating'] = train['rating'].str.replace('Not Rated', 'Unrated')
train.head()

,title,box_office,country,genre,production,rating,runtime
0,12 Years a Slave,"$50,628,650",2,3,Fox Searchlight,R,134 min
1,2 Guns,"$73,500,000",1,3,Universal Pictures,R,109 min
2,21 & Over,"$25,675,765",1,1,Relativity Media,R,93 min
3,42,"$95,001,343",1,3,Warner Bros. Pictures,PG-13,128 min
4,47 Ronin,"$20,518,224",4,3,Universal Pictures,PG-13,128 min

In [27]:
train['rating'] = train['rating'].fillna('Unrated')

In [28]:
train['rating'].value_counts()

R            124
PG-13         77
Unrated       32
PG            23
TV-MA          2
NOT RATED      1
G              1
Name: rating, dtype: int64

In [29]:
train['runtime'] = train['runtime'].astype(str)

In [30]:
train['runtime'] = train['runtime'].apply(lambda x: x.replace(' min',''))
train.head()

,title,box_office,country,genre,production,rating,runtime
0,12 Years a Slave,"$50,628,650",2,3,Fox Searchlight,R,134
1,2 Guns,"$73,500,000",1,3,Universal Pictures,R,109
2,21 & Over,"$25,675,765",1,1,Relativity Media,R,93
3,42,"$95,001,343",1,3,Warner Bros. Pictures,PG-13,128
4,47 Ronin,"$20,518,224",4,3,Universal Pictures,PG-13,128

In [31]:
train['runtime'] = train['runtime'].apply(lambda x: x.replace('nan','0'))
train.head()

,title,box_office,country,genre,production,rating,runtime
0,12 Years a Slave,"$50,628,650",2,3,Fox Searchlight,R,134
1,2 Guns,"$73,500,000",1,3,Universal Pictures,R,109
2,21 & Over,"$25,675,765",1,1,Relativity Media,R,93
3,42,"$95,001,343",1,3,Warner Bros. Pictures,PG-13,128
4,47 Ronin,"$20,518,224",4,3,Universal Pictures,PG-13,128

In [32]:
train['runtime'] = train['runtime'].astype(int)

In [33]:
train.production.value_counts()

Warner Bros. Pictures     14
IFC Films                 12
Sony Pictures             11
20th Century Fox          11
Walt Disney Pictures      10
                          ..
Paramount                  1
DreamWorks Animation       1
Paramount Pictures/MGM     1
Hightop Releasing          1
FilmBuff                   1
Name: production, Length: 92, dtype: int64

In [34]:
train['production'] = train['production'].fillna('NaN')

In [35]:
train['box_office'] = train['box_office'].apply(lambda x: x.replace('$',''))
train.head()

,title,box_office,country,genre,production,rating,runtime
0,12 Years a Slave,"50,628,650",2,3,Fox Searchlight,R,134
1,2 Guns,"73,500,000",1,3,Universal Pictures,R,109
2,21 & Over,"25,675,765",1,1,Relativity Media,R,93
3,42,"95,001,343",1,3,Warner Bros. Pictures,PG-13,128
4,47 Ronin,"20,518,224",4,3,Universal Pictures,PG-13,128

In [36]:
train['box_office'] = train['box_office'].apply(lambda x: x.replace(',',''))
train.head()

,title,box_office,country,genre,production,rating,runtime
0,12 Years a Slave,50628650,2,3,Fox Searchlight,R,134
1,2 Guns,73500000,1,3,Universal Pictures,R,109
2,21 & Over,25675765,1,1,Relativity Media,R,93
3,42,95001343,1,3,Warner Bros. Pictures,PG-13,128
4,47 Ronin,20518224,4,3,Universal Pictures,PG-13,128

In [37]:
train['box_office'] = train['box_office'].astype(int)
train.head()

,title,box_office,country,genre,production,rating,runtime
0,12 Years a Slave,50628650,2,3,Fox Searchlight,R,134
1,2 Guns,73500000,1,3,Universal Pictures,R,109
2,21 & Over,25675765,1,1,Relativity Media,R,93
3,42,95001343,1,3,Warner Bros. Pictures,PG-13,128
4,47 Ronin,20518224,4,3,Universal Pictures,PG-13,128

In [38]:
train.dtypes

title         object
box_office     int32
country        int64
genre          int64
production    object
rating        object
runtime        int32
dtype: object

In [39]:
train.dtypes

title         object
box_office     int32
country        int64
genre          int64
production    object
rating        object
runtime        int32
dtype: object

In [40]:
train['year'] = 2013

In [41]:
train.to_csv('../data/train_data_2013.csv', index=False)

In [42]:
train = train.sort_values(by=['box_office'], ascending=False)

In [43]:
train.head()

,title,box_office,country,genre,production,rating,runtime,year
105,Iron Man 3,408992272,1,3,Walt Disney Pictures,PG-13,130,2013
75,Frozen,400736600,1,6,Walt Disney Pictures,PG,102,2013
60,Despicable Me 2,368049635,3,6,Universal Pictures,PG,98,2013
212,The Hunger Games: Catching Fire,336663349,1,4,Lionsgate Films,PG-13,146,2013
126,Man of Steel,291021565,2,3,Warner Bros. Pictures,PG-13,143,2013

In [44]:
train.iloc[:20, 1]=1

In [45]:
train.head()

,title,box_office,country,genre,production,rating,runtime,year
105,Iron Man 3,1,1,3,Walt Disney Pictures,PG-13,130,2013
75,Frozen,1,1,6,Walt Disney Pictures,PG,102,2013
60,Despicable Me 2,1,3,6,Universal Pictures,PG,98,2013
212,The Hunger Games: Catching Fire,1,1,4,Lionsgate Films,PG-13,146,2013
126,Man of Steel,1,2,3,Warner Bros. Pictures,PG-13,143,2013

In [46]:
train.iloc[20:,1]=0

In [47]:
train.head()

,title,box_office,country,genre,production,rating,runtime,year
105,Iron Man 3,1,1,3,Walt Disney Pictures,PG-13,130,2013
75,Frozen,1,1,6,Walt Disney Pictures,PG,102,2013
60,Despicable Me 2,1,3,6,Universal Pictures,PG,98,2013
212,The Hunger Games: Catching Fire,1,1,4,Lionsgate Films,PG-13,146,2013
126,Man of Steel,1,2,3,Warner Bros. Pictures,PG-13,143,2013

In [48]:
train.to_csv('../data/train.log_data_2013.csv', index=False)