In [45]:
import pandas as pd

In [46]:
batch_1 = pd.read_csv('../data/2016_data_batch_1.csv')
batch_2 = pd.read_csv('../data/2016_data_batch_2.csv')
batch_3 = pd.read_csv('../data/2016_data_batch_3.csv')
batch_4 = pd.read_csv('../data/2016_data_batch_4.csv')

In [47]:
len(batch_1)

977

In [48]:
len(batch_2)

979

In [49]:
len(batch_3)

983

In [50]:
len(batch_4)

712

In [51]:
df = pd.DataFrame()

In [52]:
df = pd.concat([batch_1, batch_2, batch_3, batch_4], ignore_index=True)

In [53]:
len(df)

3651

In [54]:
df.head(100)

,title_id,title,box_office,country,genre,director,metascore,production,rating,IMDB_rating,rotten_tomatoes_rating,runtime,type,IMDB_votes
0,tt5803530,#DigitalLivesMatter,NaN,USA,Comedy,Terri J. Vaughn,NaN,NaN,NaN,9.2,NaN,NaN,movie,5
1,tt5531032,#Screamers,NaN,USA,"Horror, Mystery",Dean Matthew Ronalds,NaN,NaN,NaN,4.3,NaN,85 min,movie,830
2,tt5719014,#modelswanted,NaN,USA,Drama,Kevin Thompson,NaN,NaN,NaN,NaN,NaN,NaN,movie,NaN
3,tt4004608,$elfie Shootout,NaN,USA,Comedy,"Giorgio Daveed, Ron Jackson",NaN,NaN,TV-14,3.4,NaN,86 min,movie,103
4,tt4417402,'85: The Greatest Team in Pro Football History,NaN,USA,Sport,Scott Prestin,NaN,NaN,NaN,7.6,NaN,90 min,movie,16
5,tt4199762,'Til Love Comes,NaN,USA,"Comedy, Romance",Jay Williams,NaN,NaN,NaN,5.4,NaN,78 min,movie,9
6,tt3914332,Dean,"$248,849",USA,"Comedy, Drama, Romance",Demetri Martin,58.0,CBS Films,PG-13,6.3,62%,94 min,movie,"1,631"
7,tt1331087,*69,NaN,USA,"Horror, Mystery, Thriller",Elke Blasi,NaN,NaN,NaN,3.4,NaN,100 min,movie,8
8,tt5574408,1-800-Jackets,NaN,USA,Action,Zack Abraham,NaN,NaN,NaN,NaN,NaN,NaN,movie,NaN
9,tt1179933,10 Cloverfield Lane,"$59,481,553",USA,"Drama, Horror, Mystery, Sci-Fi, Thriller",Dan Trachtenberg,76.0,Bad Robot Productions,PG-13,7.2,90%,103 min,movie,"269,363"
10,tt3473092,10 Seconds to Run,NaN,USA,"Action, Horror, Thriller",Jake Jalbert,NaN,NaN,NaN,5.1,NaN,50 min,movie,14
11,tt4250438,11:55,NaN,USA,"Crime, Drama","Ari Issler, Ben Snyder",NaN,Gravitas Ventures,TV-MA,4.8,100%,80 min,movie,425
12,tt5134866,13 Days,NaN,USA,Mystery,"Anthony Scarpulla, Anthony L. Torrez",NaN,NaN,NaN,NaN,NaN,93 min,movie,NaN
13,tt4172430,13 Hours,"$37,978,162","Malta, Morocco, USA","Action, Drama, History, Thriller, War",Michael Bay,48.0,Paramount Pictures,R,7.3,51%,144 min,movie,"107,396"
14,tt6170048,18th Annual Animation Show of Shows,NaN,USA,Animation,"Iris Alexandre, Alan Barillaro, Ainslie Hender...",NaN,NaN,NaN,NaN,NaN,91 min,movie,NaN
15,tt2006141,1959,NaN,USA,Thriller,John Swider,NaN,Upperline Entertainment,NaN,7.7,NaN,88 min,movie,25
16,tt5158534,1964,NaN,USA,Drama,Katt Shea,NaN,NaN,NaN,NaN,NaN,NaN,movie,NaN
17,tt5932546,1985,NaN,USA,"Adventure, Comedy, Drama",Kang Vang,NaN,NaN,NaN,8.3,NaN,114 min,movie,23
18,tt5945946,1st Strike,NaN,USA,Drama,David Llauger Meiselman,NaN,NaN,NaN,4.9,NaN,99 min,movie,134
19,tt3851964,2 Face: It's in the Blood,NaN,USA,Horror,"Lueangy Griggs-Spicer, Kennedy Griggs-Spicer",NaN,NaN,NaN,NaN,NaN,NaN,movie,NaN
20,tt4627224,2 Jennifer,NaN,USA,Horror,Hunter Johnson,NaN,NaN,Not Rated,2.5,NaN,84 min,movie,299
21,tt6032706,2 Much 4 Words,NaN,USA,Thriller,James A. Goins,NaN,NaN,NaN,NaN,NaN,NaN,movie,NaN
22,tt5763056,2 Psychos,NaN,USA,NaN,Katrina Baker,NaN,NaN,NaN,NaN,NaN,NaN,movie,NaN
23,tt6110226,2016 Global Citizen,NaN,USA,Music,Leon Knoles,NaN,NaN,NaN,NaN,NaN,NaN,movie,NaN
24,tt4385888,20th Century Women,"$5,663,854",USA,"Comedy, Drama",Mike Mills,83.0,A24 Films,R,7.3,89%,119 min,movie,"34,223"
25,tt5063126,224,NaN,USA,Action,Heidnaldo da Silva,NaN,NaN,NaN,NaN,NaN,NaN,movie,NaN
26,tt4261326,2307: Winter's Dream,NaN,USA,Sci-Fi,Joey Curtis,NaN,NaN,NaN,3.8,NaN,101 min,movie,"1,373"
27,tt5765582,24,NaN,USA,Thriller,Chloe Finch,NaN,NaN,NaN,NaN,NaN,NaN,movie,NaN
28,tt5836432,2nd Greatest,NaN,USA,Drama,Nathan Blair,NaN,NaN,NaN,NaN,NaN,121 min,movie,NaN
29,tt5547188,3 Bullets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,movie,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,tt1401621,A Boy Called Po,NaN,USA,"Drama, Fantasy",John Asher,47.0,NaN,PG,6.9,NaN,95 min,movie,727
71,tt5752926,A Cat in the Forest,NaN,"Latvia, USA",Thriller,Vladimir Duhov,NaN,NaN,NaN,NaN,NaN,NaN,movie,NaN
72,tt5953196,A Chorus Line,NaN,USA,Musical,"Rennie Cowan, Chance Taylor",NaN,NaN,NaN,NaN,NaN,120 min,movie,NaN
73,tt5086384,A Christmas in New York,NaN,USA,Romance,Nathan Ives,NaN,Make It Right Films,TV-MA,5.2,NaN,81 min,movie,69
74,tt5607916,A Cinematic Salute to the Troops,NaN,USA,NaN,"Laura Law-Millett, Brandon Millett",NaN,NaN,NaN,NaN,NaN,121 min,movie,NaN
75,tt5806876,A Clean Exit,NaN,USA,"Action, Crime, Drama",Clint Gaige,NaN,NaN,NaN,8.2,NaN,118 min,movie,14
76,tt4731136,A Cure for Wellness,"$8,103,139","USA, Germany","Drama, Fantasy, Horror, Mystery, Sci-Fi, Thriller",Gore Verbinski,47.0,20th Century Fox,R,6.4,42%,146 min,movie,"73,912"
77,tt5232600,A Dark Secret,NaN,USA,Drama,Christine Capitelli,NaN,NaN,NaN,NaN,NaN,NaN,movie,NaN
78,tt2251106,A Devil's Game,NaN,USA,"Action, Crime, Drama",Paul Young,NaN,NaN,NaN,7.3,NaN,110 min,movie,48
79,tt5853124,A Doggone Christmas,NaN,USA,Family,Jim Wynorski,NaN,NaN,NaN,3.7,NaN,82 min,movie,114
80,tt6423614,A Dream Ring,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,movie,NaN
81,tt1718924,A Family Man,NaN,"Canada, USA",Drama,Mark Williams,21.0,Vertical Entertainment,R,6.5,13%,108 min,movie,"9,053"
82,tt2654326,A Father's Love,NaN,USA,"Drama, Horror",Nathan Colmer,NaN,TLA Entertainment Group,NaN,NaN,NaN,116 min,movie,NaN
83,tt7785870,A Frozen Christmas,NaN,USA,Animation,Evan Tramel,NaN,NaN,NaN,NaN,NaN,76 min,movie,NaN
84,tt6141626,A Godly Manner,NaN,USA,"Crime, Drama, Mystery",Matthew Myslinski,NaN,NaN,NaN,NaN,NaN,48 min,movie,NaN
85,tt5027724,A Guidebook to Killing Your Ex,NaN,"Hungary, USA, UK","Comedy, Drama, Horror",József Gallai,NaN,NaN,NaN,5.1,NaN,71 min,movie,107
86,tt5893032,A Heart That Forgives,NaN,USA,Drama,M. Legend Brown,NaN,NaN,TV-PG,5.8,NaN,90 min,movie,34
87,tt3380398,A Heart of Mother,NaN,USA,"Drama, Thriller",John Knapus,NaN,NaN,NaN,NaN,NaN,NaN,movie,NaN
88,tt2980210,A Hologram for the King,NaN,"UK, France, Germany, Mexico, USA","Comedy, Drama, Romance",Tom Tykwer,58.0,Roadside Attractions,R,6.1,72%,98 min,movie,"37,424"
89,tt3161386,A Horse Story,NaN,USA,"Family, Fantasy",John Rogers,NaN,Cochise County Pictures,Not Rated,5.9,NaN,100 min,movie,71
90,tt3963766,A Journey to a Journey,NaN,"Canada, USA","Drama, Mystery, Sci-Fi",Barry Germansky,NaN,NaN,NaN,6.5,NaN,85 min,movie,348
91,tt3764506,A Junkie Love Story,NaN,USA,Drama,Laurence Guenoun,NaN,NaN,NaN,NaN,NaN,NaN,movie,NaN
92,tt5449390,A Killer Walks Amongst Us,NaN,USA,Crime,Michael Feifer,NaN,NaN,NaN,5.0,NaN,NaN,movie,56
93,tt3007808,A Killing Day,NaN,USA,"Crime, Drama, Thriller",Gino Gianoli,NaN,NaN,NaN,NaN,NaN,93 min,movie,NaN
94,tt2726552,A Kind of Murder,NaN,USA,"Crime, Drama, Thriller",Andy Goddard,50.0,Killer Films,R,5.3,38%,95 min,movie,"6,186"
95,tt5144884,A Knight to Remember,NaN,USA,Comedy,Hussain Ahmed,NaN,NaN,NaN,NaN,NaN,NaN,movie,NaN
96,tt4611402,A Life Lived,NaN,USA,Drama,Riley Wood,NaN,NaN,NaN,8.9,NaN,77 min,movie,8
97,tt5440920,A Life Observed,NaN,USA,"Drama, Fantasy, Mystery",Brady Smith,NaN,NaN,NaN,NaN,NaN,74 min,movie,NaN
98,tt5493678,A Lovely Sunrise,NaN,USA,"Drama, Family",Cas Raegis,NaN,NaN,NaN,NaN,NaN,49 min,movie,NaN
99,tt2980864,A Man Possessed,NaN,USA,Drama,Amel J. Figueroa,NaN,NaN,NaN,NaN,NaN,NaN,movie,NaN

In [55]:
total = len(df.country.unique())
unique = df.country.unique()
for i in range (total):
    print(unique[i])

USA
Malta, Morocco, USA
nan
UK, USA
Denmark, USA
USA, India
USA, Spain
Latvia, USA
USA, Germany
Canada, USA
Hungary, USA, UK
UK, France, Germany, Mexico, USA
UK, Spain, USA
UK, Belgium, USA, Canada
France, USA
Czech Republic, UK, USA, France, Botswana
USA, France
USA, Switzerland
USA, Bulgaria
South Africa
USA, UK
Thailand, USA
France, Japan, USA
USA, China
USA, Mexico
Hong Kong, USA
Mexico, USA
Finland, USA
Spain, USA
Brazil, Netherlands, USA, Colombia, Austria, Germany
Czech Republic, UK, USA, France
New Zealand, Samoa, USA
Chile, USA, France
USA, Canada, India
USA, France, UK, Hong Kong, Taiwan, Malta
Philippines, USA
Australia, USA
USA, Iceland, France
India, USA
Nigeria, Canada, USA
UK, France, USA, Luxembourg, Germany
USA, Canada
UK, China, USA
China, Canada, USA
South Korea, USA
Japan, USA
USA, Canada, Ireland
USA, France, China, UK
Netherlands, France, Germany, Belgium, Sweden, UK, USA
USA, Greece
USA, Italy
USA, Australia
Germany, Canada, USA
USA, Iceland
USA, Georgia, Ghana
USA, Japan
UK, Germany, China, USA
Canada, USA, Spain, South Korea
Canada, USA, UK
USA, Monaco
China, Hong Kong, USA
USA, UK, Bulgaria
China, USA
Switzerland, USA, Germany
USA, Australia, Malaysia
Russia
USA, Morocco
USA, Venezuela
USA, Hungary
Australia, Cyprus, USA, Greece
USA, Colombia
USA, Belgium, Greece, Hungary, Netherlands, Poland, Romania, Republic of Macedonia
Costa Rica, USA
USA, Argentina
USA, Portugal, France
Iran
USA, Australia, China
USA, Thailand, Kazakhstan, Hong Kong, Canada
UK, Japan, USA
Panama, USA
Argentina, USA
Romania, USA
USA, Canada, Mexico
USA, Israel
Ireland, UK, USA
USA, Hungary, Mexico
Peru, USA
Spain, UK, USA, France
USA, France, Greece
Spain, Iceland, Iran, Mexico, Sweden, USA
USA, France, Chile, China, Germany, UK
Israel, Germany, USA
USA, Hong Kong
France, Belgium, Japan, Poland, Netherlands, Hungary, UK, Germany, China, Thailand, Italy, Denmark, USA
UK
USA, Brazil
China
UK, Australia, USA
USA, Greece, Brazil
Bahamas, USA
UK, Bulgaria, USA
UK, Germany, USA
Colombia, USA
USA, UK, India, Australia, Argentina, Japan
UK, France, Belgium, USA
USA, Cambodia
USA, Spain, Italy
USA, UK, Belgium, Canada
USA, Netherlands
Germany, USA
UK, Hungary, USA
Bulgaria, Germany, Hong Kong, India, Russia, USA
Ghana, USA
Chile, Argentina, France, Spain, USA
China, USA, Guatemala, Japan, Mexico
Poland, USA
USA, Mexico, Germany
USA, India, Ireland
Israel, USA
Serbia, UK, USA
China, Mongolia, USA, New Zealand
USA, Serbia
France, Germany, USA
USA, Iran
Portugal, France, Poland, USA
USA, Guyana
Belarus
Russia, USA, China
Hong Kong, Canada, USA
USA, Germany, France, Canada, South Africa, Australia, UK, Japan
USA, South Africa
Ireland, Germany, USA
Germany, France, Mexico, Bolivia, USA
Bahamas, Jamaica, USA
Nepal, Netherlands, Qatar, USA
USA, UK, Denmark, Sweden, Australia
South Africa, USA, Germany
Greece, USA
USA, UK, Taiwan, Japan, Mexico, Italy
France, Germany, USA, UK
Iran, USA
UK, Italy, Portugal, USA
Germany, France, Mexico, USA
Canada, South Korea, USA, China
Canada, UK, USA
Taiwan, USA, Vietnam
USA, China, United Arab Emirates, Canada
USA, Sweden
USA, Ireland
USA, Hong Kong, China, Canada, Denmark, Germany, UK
USA, Kazakhstan
France, Canada, USA
USA, India, UK
USA, Canada, China
Belarus, Russia, Ukraine, USA
USA, Puerto Rico
USA, China, Hong Kong, Australia, Canada
South Africa, USA
UK, Canada, USA
Bosnia and Herzegovina, USA
UK, New Zealand, USA, India
USA, Hungary, Italy, Romania
Singapore, USA
UK, USA, India
USA, Spain, Sweden
USA, France, Japan
Indonesia
Netherlands, USA, Germany, Sweden, UK
Puerto Rico, USA
Italy
Spain, USA, France, Italy, Japan
Israel, USA, Ukraine, Russia, Spain
USA, Romania
Kazakhstan, USA
USA, Ecuador
UK, Poland, USA
USA, Cambodia, South Korea
USA, Austria, France
USA, Canada, France
China, Canada, Japan, USA
Italy, Morocco, USA
Guatemala, USA
UK, Greece, Italy, Slovenia, USA
USA, Philippines
USA, Lithuania
Eritrea, USA

In [56]:
df.country = df.country.str.lower()

In [57]:
df = df[df['country'].str.contains("usa", na=False)]

In [58]:
total = len(df.country.unique())
unique = df.country.unique()
for i in range (total):
    print(unique[i])

usa
malta, morocco, usa
uk, usa
denmark, usa
usa, india
usa, spain
latvia, usa
usa, germany
canada, usa
hungary, usa, uk
uk, france, germany, mexico, usa
uk, spain, usa
uk, belgium, usa, canada
france, usa
czech republic, uk, usa, france, botswana
usa, france
usa, switzerland
usa, bulgaria
usa, uk
thailand, usa
france, japan, usa
usa, china
usa, mexico
hong kong, usa
mexico, usa
finland, usa
spain, usa
brazil, netherlands, usa, colombia, austria, germany
czech republic, uk, usa, france
new zealand, samoa, usa
chile, usa, france
usa, canada, india
usa, france, uk, hong kong, taiwan, malta
philippines, usa
australia, usa
usa, iceland, france
india, usa
nigeria, canada, usa
uk, france, usa, luxembourg, germany
usa, canada
uk, china, usa
china, canada, usa
south korea, usa
japan, usa
usa, canada, ireland
usa, france, china, uk
netherlands, france, germany, belgium, sweden, uk, usa
usa, greece
usa, italy
usa, australia
germany, canada, usa
usa, iceland
usa, georgia, ghana
usa, japan
uk, germany, china, usa
canada, usa, spain, south korea
canada, usa, uk
usa, monaco
china, hong kong, usa
usa, uk, bulgaria
china, usa
switzerland, usa, germany
usa, australia, malaysia
usa, morocco
usa, venezuela
usa, hungary
australia, cyprus, usa, greece
usa, colombia
usa, belgium, greece, hungary, netherlands, poland, romania, republic of macedonia
costa rica, usa
usa, argentina
usa, portugal, france
usa, australia, china
usa, thailand, kazakhstan, hong kong, canada
uk, japan, usa
panama, usa
argentina, usa
romania, usa
usa, canada, mexico
usa, israel
ireland, uk, usa
usa, hungary, mexico
peru, usa
spain, uk, usa, france
usa, france, greece
spain, iceland, iran, mexico, sweden, usa
usa, france, chile, china, germany, uk
israel, germany, usa
usa, hong kong
france, belgium, japan, poland, netherlands, hungary, uk, germany, china, thailand, italy, denmark, usa
usa, brazil
uk, australia, usa
usa, greece, brazil
bahamas, usa
uk, bulgaria, usa
uk, germany, usa
colombia, usa
usa, uk, india, australia, argentina, japan
uk, france, belgium, usa
usa, cambodia
usa, spain, italy
usa, uk, belgium, canada
usa, netherlands
germany, usa
uk, hungary, usa
bulgaria, germany, hong kong, india, russia, usa
ghana, usa
chile, argentina, france, spain, usa
china, usa, guatemala, japan, mexico
poland, usa
usa, mexico, germany
usa, india, ireland
israel, usa
serbia, uk, usa
china, mongolia, usa, new zealand
usa, serbia
france, germany, usa
usa, iran
portugal, france, poland, usa
usa, guyana
russia, usa, china
hong kong, canada, usa
usa, germany, france, canada, south africa, australia, uk, japan
usa, south africa
ireland, germany, usa
germany, france, mexico, bolivia, usa
bahamas, jamaica, usa
nepal, netherlands, qatar, usa
usa, uk, denmark, sweden, australia
south africa, usa, germany
greece, usa
usa, uk, taiwan, japan, mexico, italy
france, germany, usa, uk
iran, usa
uk, italy, portugal, usa
germany, france, mexico, usa
canada, south korea, usa, china
canada, uk, usa
taiwan, usa, vietnam
usa, china, united arab emirates, canada
usa, sweden
usa, ireland
usa, hong kong, china, canada, denmark, germany, uk
usa, kazakhstan
france, canada, usa
usa, india, uk
usa, canada, china
belarus, russia, ukraine, usa
usa, puerto rico
usa, china, hong kong, australia, canada
south africa, usa
uk, canada, usa
bosnia and herzegovina, usa
uk, new zealand, usa, india
usa, hungary, italy, romania
singapore, usa
uk, usa, india
usa, spain, sweden
usa, france, japan
netherlands, usa, germany, sweden, uk
puerto rico, usa
spain, usa, france, italy, japan
israel, usa, ukraine, russia, spain
usa, romania
kazakhstan, usa
usa, ecuador
uk, poland, usa
usa, cambodia, south korea
usa, austria, france
usa, canada, france
china, canada, japan, usa
italy, morocco, usa
guatemala, usa
uk, greece, italy, slovenia, usa
usa, philippines
usa, lithuania
eritrea, usa

In [59]:
len(df)

3623

In [60]:
df = df[df.box_office.notnull()]

In [61]:
len(df)

241

In [62]:
# drop min number of non-NA values
df = df.dropna(thresh=7)
df.head(100)

,title_id,title,box_office,country,genre,director,metascore,production,rating,IMDB_rating,rotten_tomatoes_rating,runtime,type,IMDB_votes
6,tt3914332,Dean,"$248,849",usa,"Comedy, Drama, Romance",Demetri Martin,58.0,CBS Films,PG-13,6.3,62%,94 min,movie,"1,631"
9,tt1179933,10 Cloverfield Lane,"$59,481,553",usa,"Drama, Horror, Mystery, Sci-Fi, Thriller",Dan Trachtenberg,76.0,Bad Robot Productions,PG-13,7.2,90%,103 min,movie,"269,363"
13,tt4172430,13 Hours,"$37,978,162","malta, morocco, usa","Action, Drama, History, Thriller, War",Michael Bay,48.0,Paramount Pictures,R,7.3,51%,144 min,movie,"107,396"
24,tt4385888,20th Century Women,"$5,663,854",usa,"Comedy, Drama",Mike Mills,83.0,A24 Films,R,7.3,89%,119 min,movie,"34,223"
32,tt5791932,3 Weeks in Yerevan,"$29,245",usa,Comedy,"Vahe Berberian, Vahik Pirhamzei",NaN,Wet Paint Production,NaN,7.7,NaN,NaN,movie,165
36,tt3835080,31,"$779,820","uk, usa","Horror, Thriller",Rob Zombie,35.0,Bow and Arrow Entertainment,R,5.1,47%,102 min,movie,"16,610"
68,tt4058122,A Beginner's Guide to Snuff,"$5,204",usa,"Comedy, Horror, Thriller",Mitchell Altieri,NaN,Indican Pictures,Unrated,4.8,NaN,87 min,movie,292
76,tt4731136,A Cure for Wellness,"$8,103,139","usa, germany","Drama, Fantasy, Horror, Mystery, Sci-Fi, Thriller",Gore Verbinski,47.0,20th Century Fox,R,6.4,42%,146 min,movie,"73,912"
104,tt3416532,A Monster Calls,"$3,730,982","uk, spain, usa","Animation, Drama, Fantasy",J.A. Bayona,76.0,Focus Features,PG-13,7.5,86%,108 min,movie,"73,673"
112,tt2392830,A Quiet Passion,"$1,864,266","uk, belgium, usa, canada","Biography, Drama",Terence Davies,77.0,Hurricane Films,PG-13,6.4,92%,125 min,movie,"4,790"
127,tt3387266,A United Kingdom,"$3,901,302","czech republic, uk, usa, france, botswana","Biography, Drama, Romance",Amma Asante,65.0,Harbinger Pictures,PG-13,6.8,84%,111 min,movie,"12,774"
145,tt2112096,Absolutely Fabulous: The Movie,"$4,750,497","uk, usa","Comedy, Crime",Mandie Fletcher,59.0,DJ Films,R,5.4,58%,91 min,movie,"11,209"
172,tt2567026,Alice Through the Looking Glass,"$77,037,635","usa, uk","Adventure, Family, Fantasy",James Bobin,34.0,Walt Disney Pictures,PG,6.2,30%,113 min,movie,"83,504"
192,tt3640424,Allied,"$40,069,087","uk, usa","Action, Drama, Romance, Thriller, War",Robert Zemeckis,60.0,Paramount Pictures,R,7.1,60%,124 min,movie,"130,747"
193,tt4649416,Almost Christmas,"$41,715,860","usa, china","Comedy, Drama",David E. Talbert,55.0,Will Packer Productions,PG-13,6.1,50%,111 min,movie,"5,571"
204,tt4392770,Always Shine,"$11,891",usa,"Drama, Horror, Mystery, Thriller",Sophia Takal,72.0,Little Teeth Pictures,Unrated,5.6,91%,85 min,movie,"3,609"
207,tt4059702,AmeriGeddon,"$316,554",usa,"Action, Drama",Mike Norris,NaN,NaN,PG-13,3.4,NaN,90 min,movie,"1,207"
216,tt3721936,American Honey,"$662,786","uk, usa","Adventure, Drama, Romance",Andrea Arnold,79.0,Parts and Labor,R,7.0,80%,163 min,movie,"33,441"
218,tt0376479,American Pastoral,"$541,457","hong kong, usa","Crime, Drama",Ewan McGregor,43.0,Lakeshore Entertainment,R,6.1,22%,108 min,movie,"13,643"
245,tt1985949,The Angry Birds Movie,"$107,506,776","finland, usa","Animation, Action, Comedy, Family, Fantasy","Clay Kaytis, Fergal Reilly",43.0,Sony Pictures,PG,6.3,44%,97 min,movie,"73,814"
259,tt4190530,Anthropoid,"$2,959,288","czech republic, uk, usa, france","Biography, History, Thriller, War",Sean Ellis,59.0,LD Entertainment,R,7.2,66%,120 min,movie,"39,718"
284,tt2543164,Arrival,"$100,501,349","usa, canada, india","Drama, Mystery, Sci-Fi, Thriller",Denis Villeneuve,81.0,21 Laps Entertainment,PG-13,7.9,94%,116 min,movie,"539,812"
299,tt2094766,Assassin's Creed,"$54,645,723","usa, france, uk, hong kong, taiwan, malta","Action, Adventure, Sci-Fi",Justin Kurzel,36.0,20th Century Fox,PG-13,5.7,18%,115 min,movie,"171,799"
329,tt4651520,Bad Moms,"$113,217,955",usa,Comedy,"Jon Lucas, Scott Moore",60.0,Block Entertainment,R,6.2,58%,100 min,movie,"105,422"
331,tt1798603,Bad Santa 2,"$17,664,973",usa,"Comedy, Crime, Drama",Mark Waters,38.0,Miramax/Broad Green,R,5.6,22%,92 min,movie,"20,795"
341,tt3628584,Barbershop: The Next Cut,"$54,014,580",usa,"Comedy, Drama",Malcolm D. Lee,67.0,Warner Bros. Pictures,PG-13,5.9,90%,111 min,movie,"13,595"
349,tt2368619,The Take,"$41,546","uk, france, usa, luxembourg, germany","Action, Crime, Drama, Thriller",James Watkins,48.0,High Top Releasing,R,6.3,48%,92 min,movie,"32,503"
350,tt2975590,Batman v Superman: Dawn of Justice,"$293,792,936",usa,"Action, Adventure, Sci-Fi",Zack Snyder,44.0,Warner Bros. Pictures,PG-13,6.5,28%,151 min,movie,"591,299"
353,tt4853102,Batman: The Killing Joke,"$442,331",usa,"Animation, Action, Crime, Drama, Thriller",Sam Liu,NaN,The Answer Studio,R,6.4,40%,76 min,movie,"45,289"
381,tt4700756,Believe,"$884,857",usa,Drama,Billy Dickson,NaN,Power of 3,PG,5.1,33%,119 min,movie,352
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1168,tt5447816,From Nowhere,"$5,408",usa,Drama,Matthew Newton,75.0,No Place for Films,NaN,7.2,92%,89 min,movie,49
1202,tt1703957,Genius,"$1,358,018","uk, usa","Biography, Drama",Michael Grandage,56.0,Riverstone Pictures,PG-13,6.5,53%,104 min,movie,"16,296"
1211,tt5115546,Ghost Team,"$8,069",usa,"Comedy, Thriller",Oliver Irving,22.0,Tandem Pictures,PG-13,4.6,11%,83 min,movie,"1,440"
1212,tt1289401,Ghostbusters,"$128,344,089","usa, australia","Action, Comedy, Fantasy, Sci-Fi",Paul Feig,60.0,Sony Pictures,PG-13,5.2,74%,116 min,movie,"192,995"
1230,tt4437216,Goat,"$23,020",usa,Drama,Andrew Neel,64.0,Killer Films,R,5.7,79%,96 min,movie,"7,021"
1235,tt2404233,Gods of Egypt,"$31,141,074","usa, australia, china","Action, Adventure, Fantasy",Alex Proyas,25.0,Lionsgate,PG-13,5.4,16%,127 min,movie,"98,213"
1238,tt5215952,The Wailing,"$785,405","south korea, usa","Horror, Mystery, Thriller",Hong-jin Na,81.0,NaN,TV-MA,7.4,99%,156 min,movie,"39,191"
1239,tt1800302,Gold,"$7,222,964",usa,"Crime, Drama",Stephen Gaghan,49.0,TWC-Dimension,R,6.7,43%,120 min,movie,"52,468"
1260,tt2950418,Greater,"$1,995,407",usa,"Biography, Family, Sport",David L. Hunt,35.0,NaN,PG,7.2,67%,130 min,movie,"3,588"
1278,tt2119532,Hacksaw Ridge,"$67,115,062","australia, usa","Biography, Drama, History, War",Mel Gibson,71.0,Summit Entertainment,R,8.1,85%,139 min,movie,"385,778"
1280,tt0475290,"Hail, Caesar!","$27,927,631","uk, japan, usa","Comedy, Drama, Music, Mystery","Ethan Coen, Joel Coen",72.0,Universal Pictures,PG-13,6.3,86%,106 min,movie,"114,886"
1289,tt1781827,Hands of Stone,"$4,711,216","panama, usa","Biography, Drama, Sport",Jonathan Jakubowicz,54.0,Fuego Films,R,6.6,44%,111 min,movie,"13,634"
1318,tt2582782,Hell or High Water,"$26,973,524",usa,"Action, Crime, Drama, Thriller, Western",David Mackenzie,88.0,Film 44,R,7.6,97%,102 min,movie,"184,353"
1330,tt5880296,Hermia & Helena,"$42,055","argentina, usa","Comedy, Drama",Matías Piñeiro,79.0,Trapecio Cine,Not Rated,5.7,84%,87 min,movie,326
1337,tt4846340,Hidden Figures,"$169,385,416",usa,"Biography, Drama, History",Theodore Melfi,74.0,20th Century Fox,PG,7.8,93%,127 min,movie,"179,035"
1432,tt4950110,I'm Not Ashamed,"$2,080,932",usa,"Biography, Drama",Brian Baugh,31.0,Pure Flix,PG-13,5.8,20%,112 min,movie,"2,944"
1437,tt4371680,Icaros: A Vision,"$5,510","peru, usa",Drama,"Leonor Caraballo, Matteo Norzi",77.0,Factory 25,NaN,6.8,90%,91 min,movie,88
1438,tt3416828,Ice Age: Collision Course,"$64,060,187",usa,"Animation, Adventure, Comedy, Family, Fantasy,...","Mike Thurmeier, Galen T. Chu(co-director)",34.0,20th Century Fox,PG,5.7,18%,94 min,movie,"51,146"
1460,tt3608930,In a Valley of Violence,"$50,381",usa,"Action, Western",Ti West,64.0,Blumhouse Productions,R,6.0,76%,104 min,movie,"13,943"
1470,tt1628841,Independence Day: Resurgence,"$103,137,295",usa,"Action, Adventure, Sci-Fi",Roland Emmerich,32.0,20th Century Fox,PG-13,5.2,29%,120 min,movie,"158,599"
1475,tt4193394,Indignation,"$3,399,841","usa, china","Drama, Romance",James Schamus,78.0,Likely Story,R,6.7,82%,110 min,movie,"10,833"
1477,tt3062096,Inferno,"$34,307,024","usa, hungary","Action, Crime, Drama, Mystery, Thriller",Ron Howard,42.0,Sony Pictures,PG-13,6.2,23%,121 min,movie,"144,319"
1505,tt4196832,Is That a Gun in Your Pocket?,"$39,361",usa,Comedy,Matt Cooper,7.0,The Vault,R,5.6,0%,95 min,movie,"1,793"
1524,tt3393786,Jack Reacher: Never Go Back,"$58,676,235","china, usa","Action, Thriller",Edward Zwick,47.0,Paramount Pictures,PG-13,6.1,37%,118 min,movie,"126,709"
1525,tt1619029,Jackie,"$13,958,679","usa, france, chile, china, germany, uk","Biography, Drama, History",Pablo Larraín,81.0,Fox Searchlight Pictures,R,6.7,87%,100 min,movie,"67,888"
1531,tt4196776,Jason Bourne,"$162,162,120","usa, china","Action, Thriller",Paul Greengrass,58.0,Universal,PG-13,6.6,55%,123 min,movie,"195,511"
1544,tt3135556,Jimmy Vestvood: Amerikan Hero,"$201,638",usa,Comedy,Jonathan Kesselman,NaN,Gravitas Ventures,TV-MA,5.2,83%,84 min,movie,"2,317"
1560,tt5140182,Junction 48,"$9,083","israel, germany, usa","Action, Biography, Crime, Drama, Music, Thriller",Udi Aloni,62.0,The Orchard,Not Rated,6.7,78%,95 min,movie,603
1580,tt2387499,Keeping Up with the Joneses,"$14,896,798",usa,"Action, Comedy",Greg Mottola,34.0,20th Century Fox,PG-13,5.9,19%,105 min,movie,"53,360"
1587,tt4254584,Kicks,"$145,368",usa,"Adventure, Drama",Justin Tipping,69.0,Animal Kingdom,R,6.4,87%,80 min,movie,"3,886"

In [63]:
len(df)

241

In [64]:
df.to_csv('../data/compiled_2016_data.csv', index=False)

In [65]:
train = df[['title', 'box_office', 'country', 'genre', 'production', 'rating', 'runtime']]
train.head()

,title,box_office,country,genre,production,rating,runtime
6,Dean,"$248,849",usa,"Comedy, Drama, Romance",CBS Films,PG-13,94 min
9,10 Cloverfield Lane,"$59,481,553",usa,"Drama, Horror, Mystery, Sci-Fi, Thriller",Bad Robot Productions,PG-13,103 min
13,13 Hours,"$37,978,162","malta, morocco, usa","Action, Drama, History, Thriller, War",Paramount Pictures,R,144 min
24,20th Century Women,"$5,663,854",usa,"Comedy, Drama",A24 Films,R,119 min
32,3 Weeks in Yerevan,"$29,245",usa,Comedy,Wet Paint Production,NaN,NaN

In [66]:
train = train.reset_index(drop = True)
train.head()

,title,box_office,country,genre,production,rating,runtime
0,Dean,"$248,849",usa,"Comedy, Drama, Romance",CBS Films,PG-13,94 min
1,10 Cloverfield Lane,"$59,481,553",usa,"Drama, Horror, Mystery, Sci-Fi, Thriller",Bad Robot Productions,PG-13,103 min
2,13 Hours,"$37,978,162","malta, morocco, usa","Action, Drama, History, Thriller, War",Paramount Pictures,R,144 min
3,20th Century Women,"$5,663,854",usa,"Comedy, Drama",A24 Films,R,119 min
4,3 Weeks in Yerevan,"$29,245",usa,Comedy,Wet Paint Production,NaN,NaN

In [67]:
train['country'] = train['country'].str.count(',')
train['country'] = train['country'] + 1
train.head()

,title,box_office,country,genre,production,rating,runtime
0,Dean,"$248,849",1,"Comedy, Drama, Romance",CBS Films,PG-13,94 min
1,10 Cloverfield Lane,"$59,481,553",1,"Drama, Horror, Mystery, Sci-Fi, Thriller",Bad Robot Productions,PG-13,103 min
2,13 Hours,"$37,978,162",3,"Action, Drama, History, Thriller, War",Paramount Pictures,R,144 min
3,20th Century Women,"$5,663,854",1,"Comedy, Drama",A24 Films,R,119 min
4,3 Weeks in Yerevan,"$29,245",1,Comedy,Wet Paint Production,NaN,NaN

In [68]:
train['genre'] = train['genre'].str.count(',')
train['genre'] = train['genre'] + 1
train.head()

,title,box_office,country,genre,production,rating,runtime
0,Dean,"$248,849",1,3,CBS Films,PG-13,94 min
1,10 Cloverfield Lane,"$59,481,553",1,5,Bad Robot Productions,PG-13,103 min
2,13 Hours,"$37,978,162",3,5,Paramount Pictures,R,144 min
3,20th Century Women,"$5,663,854",1,2,A24 Films,R,119 min
4,3 Weeks in Yerevan,"$29,245",1,1,Wet Paint Production,NaN,NaN

In [69]:
train['rating'].value_counts()

R            89
PG-13        88
PG           29
Not Rated    13
Unrated       9
TV-MA         4
Name: rating, dtype: int64

In [70]:
train['rating'] = train['rating'].str.replace('Not Rated', 'Unrated')
train.head()

,title,box_office,country,genre,production,rating,runtime
0,Dean,"$248,849",1,3,CBS Films,PG-13,94 min
1,10 Cloverfield Lane,"$59,481,553",1,5,Bad Robot Productions,PG-13,103 min
2,13 Hours,"$37,978,162",3,5,Paramount Pictures,R,144 min
3,20th Century Women,"$5,663,854",1,2,A24 Films,R,119 min
4,3 Weeks in Yerevan,"$29,245",1,1,Wet Paint Production,NaN,NaN

In [71]:
train['rating'] = train['rating'].fillna('Unrated')

In [72]:
train['rating'].value_counts()

R          89
PG-13      88
Unrated    31
PG         29
TV-MA       4
Name: rating, dtype: int64

In [73]:
train['runtime'] = train['runtime'].astype(str)

In [74]:
train['runtime'] = train['runtime'].apply(lambda x: x.replace(' min',''))
train.head()

,title,box_office,country,genre,production,rating,runtime
0,Dean,"$248,849",1,3,CBS Films,PG-13,94
1,10 Cloverfield Lane,"$59,481,553",1,5,Bad Robot Productions,PG-13,103
2,13 Hours,"$37,978,162",3,5,Paramount Pictures,R,144
3,20th Century Women,"$5,663,854",1,2,A24 Films,R,119
4,3 Weeks in Yerevan,"$29,245",1,1,Wet Paint Production,Unrated,nan

In [75]:
train['runtime'] = train['runtime'].apply(lambda x: x.replace('nan','0'))
train.head()

,title,box_office,country,genre,production,rating,runtime
0,Dean,"$248,849",1,3,CBS Films,PG-13,94
1,10 Cloverfield Lane,"$59,481,553",1,5,Bad Robot Productions,PG-13,103
2,13 Hours,"$37,978,162",3,5,Paramount Pictures,R,144
3,20th Century Women,"$5,663,854",1,2,A24 Films,R,119
4,3 Weeks in Yerevan,"$29,245",1,1,Wet Paint Production,Unrated,0

In [76]:
train['runtime'] = train['runtime'].astype(int)

In [77]:
train.production.value_counts()

Warner Bros. Pictures            13
20th Century Fox                 12
Paramount Pictures               11
Walt Disney Pictures              9
Sony Pictures                     9
                                 ..
21 Laps Entertainment             1
Walt Disney Pictures/PIXAR        1
James Patterson Entertainment     1
Blackbird Films                   1
Warner Bros.                      1
Name: production, Length: 137, dtype: int64

In [78]:
train['production'] = train['production'].fillna('NaN')

In [79]:
train['box_office'] = train['box_office'].apply(lambda x: x.replace('$',''))
train.head()

,title,box_office,country,genre,production,rating,runtime
0,Dean,"248,849",1,3,CBS Films,PG-13,94
1,10 Cloverfield Lane,"59,481,553",1,5,Bad Robot Productions,PG-13,103
2,13 Hours,"37,978,162",3,5,Paramount Pictures,R,144
3,20th Century Women,"5,663,854",1,2,A24 Films,R,119
4,3 Weeks in Yerevan,"29,245",1,1,Wet Paint Production,Unrated,0

In [80]:
train['box_office'] = train['box_office'].apply(lambda x: x.replace(',',''))
train.head()

,title,box_office,country,genre,production,rating,runtime
0,Dean,248849,1,3,CBS Films,PG-13,94
1,10 Cloverfield Lane,59481553,1,5,Bad Robot Productions,PG-13,103
2,13 Hours,37978162,3,5,Paramount Pictures,R,144
3,20th Century Women,5663854,1,2,A24 Films,R,119
4,3 Weeks in Yerevan,29245,1,1,Wet Paint Production,Unrated,0

In [81]:
train['box_office'] = train['box_office'].astype(int)
train.head()

,title,box_office,country,genre,production,rating,runtime
0,Dean,248849,1,3,CBS Films,PG-13,94
1,10 Cloverfield Lane,59481553,1,5,Bad Robot Productions,PG-13,103
2,13 Hours,37978162,3,5,Paramount Pictures,R,144
3,20th Century Women,5663854,1,2,A24 Films,R,119
4,3 Weeks in Yerevan,29245,1,1,Wet Paint Production,Unrated,0

In [82]:
train.dtypes

title         object
box_office     int32
country        int64
genre          int64
production    object
rating        object
runtime        int32
dtype: object

In [83]:
train.dtypes

title         object
box_office     int32
country        int64
genre          int64
production    object
rating        object
runtime        int32
dtype: object

In [84]:
train.to_csv('../data/train_data_2016.csv', index=False)