In [1]:
from bs4 import BeautifulSoup as bs
import bs4
import pandas as pd
import requests
import json
from pprint import pprint
import ast
import pandas as pd

In [2]:
url_2016 = "https://www.imdb.com/search/title/?title_type=feature&year=2016-01-01,2016-12-31&countries=us&sort=alpha,asc&ref_=adv_prv"
url_list = [url_2016]

In [3]:
response = requests.get(url_2016)
soup = bs(response.text, "html.parser")

In [4]:
s = soup.findAll('a', href=True)
test = []

In [5]:
import re

soup.find_all("a", href=re.compile("/title/tt"))
title = soup.find_all("a", href=lambda href: href and "/title/tt" in href)

In [6]:
# title[0]['href']
for i in range(len(title)):
    test.append(title[i]['href'])

In [7]:
df = pd.DataFrame({'href': test})

In [8]:
df = pd.DataFrame(df.href.str.split('/').tolist(), columns = ['a', 'b', 'title', 'c'])

In [9]:
# df=df['2']
df=df['title']

In [10]:
df = pd.DataFrame(df)

In [11]:
df = df.drop_duplicates()

In [12]:
df.count()

title    50
dtype: int64

In [13]:
spans = soup.find_all('span')
title_count = []
for i in range(len(spans)):
    if '1-50' in spans[i].text:
        title_count.append(spans[i].text)

In [14]:
print(title_count)

['1-50 of 3,719 titles.', '1-50 of 3,719 titles.']

In [15]:
title_count = title_count[0]

In [16]:
title_count

'1-50 of 3,719 titles.'

In [17]:
title_count = title_count.replace('1-50 of ', '')
title_count

'3,719 titles.'

In [18]:
title_count = title_count.replace(' titles.', '')
title_count

'3,719'

In [19]:
title_count = title_count.replace(',','')
title_count

'3719'

In [20]:
title_count = int(title_count)
title_count

3719

In [21]:
page_count = title_count/50

In [22]:
page_count

74.38

In [23]:
import math
page_count = math.ceil(page_count)

In [24]:
page_count

75

In [25]:
# 51, 101, 151
page_url = []
for i in range(page_count):
    n = i +1
    num = 50*n + 1
    page_url.append(num)

In [26]:
print(page_url)

[51, 101, 151, 201, 251, 301, 351, 401, 451, 501, 551, 601, 651, 701, 751, 801, 851, 901, 951, 1001, 1051, 1101, 1151, 1201, 1251, 1301, 1351, 1401, 1451, 1501, 1551, 1601, 1651, 1701, 1751, 1801, 1851, 1901, 1951, 2001, 2051, 2101, 2151, 2201, 2251, 2301, 2351, 2401, 2451, 2501, 2551, 2601, 2651, 2701, 2751, 2801, 2851, 2901, 2951, 3001, 3051, 3101, 3151, 3201, 3251, 3301, 3351, 3401, 3451, 3501, 3551, 3601, 3651, 3701, 3751]

In [27]:
# for i in range(len(page_url)):
#     page_url[i] = page_url[i].astype(str)
page_url = list(map(str, page_url))

In [28]:
page_url = ["&start=" + s for s in page_url]
print(page_url)

['&start=51', '&start=101', '&start=151', '&start=201', '&start=251', '&start=301', '&start=351', '&start=401', '&start=451', '&start=501', '&start=551', '&start=601', '&start=651', '&start=701', '&start=751', '&start=801', '&start=851', '&start=901', '&start=951', '&start=1001', '&start=1051', '&start=1101', '&start=1151', '&start=1201', '&start=1251', '&start=1301', '&start=1351', '&start=1401', '&start=1451', '&start=1501', '&start=1551', '&start=1601', '&start=1651', '&start=1701', '&start=1751', '&start=1801', '&start=1851', '&start=1901', '&start=1951', '&start=2001', '&start=2051', '&start=2101', '&start=2151', '&start=2201', '&start=2251', '&start=2301', '&start=2351', '&start=2401', '&start=2451', '&start=2501', '&start=2551', '&start=2601', '&start=2651', '&start=2701', '&start=2751', '&start=2801', '&start=2851', '&start=2901', '&start=2951', '&start=3001', '&start=3051', '&start=3101', '&start=3151', '&start=3201', '&start=3251', '&start=3301', '&start=3351', '&start=3401', '&start=3451', '&start=3501', '&start=3551', '&start=3601', '&start=3651', '&start=3701', '&start=3751']

In [29]:
page_url[:0] = ['']

In [30]:
print(page_url)

['', '&start=51', '&start=101', '&start=151', '&start=201', '&start=251', '&start=301', '&start=351', '&start=401', '&start=451', '&start=501', '&start=551', '&start=601', '&start=651', '&start=701', '&start=751', '&start=801', '&start=851', '&start=901', '&start=951', '&start=1001', '&start=1051', '&start=1101', '&start=1151', '&start=1201', '&start=1251', '&start=1301', '&start=1351', '&start=1401', '&start=1451', '&start=1501', '&start=1551', '&start=1601', '&start=1651', '&start=1701', '&start=1751', '&start=1801', '&start=1851', '&start=1901', '&start=1951', '&start=2001', '&start=2051', '&start=2101', '&start=2151', '&start=2201', '&start=2251', '&start=2301', '&start=2351', '&start=2401', '&start=2451', '&start=2501', '&start=2551', '&start=2601', '&start=2651', '&start=2701', '&start=2751', '&start=2801', '&start=2851', '&start=2901', '&start=2951', '&start=3001', '&start=3051', '&start=3101', '&start=3151', '&start=3201', '&start=3251', '&start=3301', '&start=3351', '&start=3401', '&start=3451', '&start=3501', '&start=3551', '&start=3601', '&start=3651', '&start=3701', '&start=3751']

In [31]:
import re
test = []

In [ ]:
for i in range(page_count):
    url = "https://www.imdb.com/search/title/?title_type=feature&year=2016-01-01,2016-12-31&countries=us&sort=alpha,asc"+page_url[i]+"&ref_=adv_prv"
    response = requests.get(url)
    soup = bs(response.text, "html.parser")
    soup.find_all("a", href=re.compile("/title/tt"))
    title = soup.find_all("a", href=lambda href: href and "/title/tt" in href)
    print(i)
    for j in range(len(title)):
        test.append(title[j]['href'])

0
1
2
3
4
5
6
7
8
9
10
11
12
13

In [ ]:
df = pd.DataFrame({'href': test})
df = pd.DataFrame(df.href.str.split('/').tolist(), columns = ['a', 'b', 'title', 'c'])
df = df['title']
df = pd.DataFrame(df)
df = df.drop_duplicates()
df.count()

In [ ]:
df = df.reset_index(drop=True)
df

In [ ]:
first_1000 = pd.DataFrame()
second_1000 = pd.DataFrame()
third_1000 = pd.DataFrame()
rest = pd.DataFrame()

if df.shape[0] > 1000: # len(df) > 1000 would also work
    first_1000 = df[:1000]
    second_1000 = df[1000:2000]
    third_1000 = df[2000:3000]
    rest = df[3000:]

In [ ]:
first_1000.count()

In [ ]:
second_1000.count()

In [ ]:
third_1000.count()

In [ ]:
rest.count()

In [ ]:
export_first_1000 = first_1000.to_csv("../data/titles_2016_batch1.csv", index = None, header=True)
export_second_1000 = second_1000.to_csv("../data/titles_2016_batch2.csv", index = None, header=True)
export_third_1000 = third_1000.to_csv("../data/titles_2016_batch3.csv", index = None, header=True)
export_rest = rest.to_csv("../data/titles_2016_batch4.csv", index = None, header=True)