In [12]:
import matplotlib.pyplot as plt
import pandas as pd

In [13]:
from sklearn.model_selection import train_test_split

train = pd.read_csv('Resources/data/train_data_2016.csv')
test = pd.read_csv('Resources/data/test_data_2017.csv')
train.head()

,title,box_office,country,genre,production,rating,runtime
0,Dean,248849,1,3,CBS Films,PG-13,94
1,10 Cloverfield Lane,59481553,1,5,Bad Robot Productions,PG-13,103
2,13 Hours,37978162,3,5,Paramount Pictures,R,144
3,20th Century Women,5663854,1,2,A24 Films,R,119
4,3 Weeks in Yerevan,29245,1,1,Wet Paint Production,Unrated,0

In [14]:
X_train = train[['country', 'genre', 'production','runtime', 'rating']]
y_train = train['box_office'].values.reshape(-1,1)

X_test = test[['country', 'genre', 'runtime', 'production', 'rating']]
y_test = test['box_office'].values.reshape(-1,1)

In [15]:
print(X_test.shape, y_test.shape)

(195, 5) (195, 1)

In [16]:
X_train = pd.get_dummies(X_train, columns=['production','rating'], drop_first = True)
X_train.head()

,country,genre,runtime,production_21 Laps Entertainment,production_A Day in the Life Films,production_A24 Films,production_A24 and DIRECTV,production_Amazon Studios,production_Amazon Studios/Bleecker Street Media,production_Animal Kingdom,...,production_Warner Bros. Pictures,production_Well Go USA Entertainment,production_Wet Paint Production,production_Will Packer Productions,production_Working Title,production_Yale Productions,rating_PG-13,rating_R,rating_TV-MA,rating_Unrated
0,1,3,94,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,1,5,103,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,3,5,144,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,1,2,119,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,1,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1

In [17]:
X_train['rating_PG'] = 0
X_train.head()

,country,genre,runtime,production_21 Laps Entertainment,production_A Day in the Life Films,production_A24 Films,production_A24 and DIRECTV,production_Amazon Studios,production_Amazon Studios/Bleecker Street Media,production_Animal Kingdom,...,production_Well Go USA Entertainment,production_Wet Paint Production,production_Will Packer Productions,production_Working Title,production_Yale Productions,rating_PG-13,rating_R,rating_TV-MA,rating_Unrated,rating_PG
0,1,3,94,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,1,5,103,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,3,5,144,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,1,2,119,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,1,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0

In [18]:
X_test = pd.get_dummies(X_test, columns=['rating', 'production'], drop_first = True)
X_test.head()

,country,genre,runtime,rating_PG,rating_PG-13,rating_R,rating_TV-MA,rating_Unrated,production_A24,production_A24 Films,...,production_The Orchard,production_The Weinstein Company,production_TriStar Pictures,production_Universal Pictures,production_Universal Studios,production_Vertical Entertainment,production_Walt Disney Pictures,production_Warner Bros. Pictures,production_Warner Bros. Pictures/Legendary Pictures,production_XYZ Films
0,2,4,89,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,2,75,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,1,104,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2,5,100,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,3,92,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [20]:
LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='ovr', n_jobs=1, penalty='l2', random_state=None,
                   solver='liblinear', tol=0.0001, verbose=0, warm_start=False)

In [21]:
classifier.fit(X_train, y_train)

C:\Users\rebec\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\rebec\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\rebec\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [22]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.8506224066390041

ValueError: X has 93 features per sample; expecting 144