In [20]:
import matplotlib.pyplot as plt
import pandas as pd

In [21]:
from sklearn.model_selection import train_test_split

data_2016 = pd.read_csv('Resources/data/train_data_2016.csv')
data_2017 = pd.read_csv('Resources/data/test_data_2017.csv')

In [22]:
data = pd.concat([data_2016, data_2017], ignore_index=True)

C:\Users\rebec\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [23]:
data.year.value_counts()

2016    241
2017    195
Name: year, dtype: int64

In [24]:
data = pd.get_dummies(data, columns=['production','rating'], drop_first = True)
data.head()

,box_office,country,genre,runtime,title,year,production_21 Laps Entertainment,production_A Day in the Life Films,production_A24,production_A24 Films,...,production_Wet Paint Production,production_Will Packer Productions,production_Working Title,production_XYZ Films,production_Yale Productions,rating_PG,rating_PG-13,rating_R,rating_TV-MA,rating_Unrated
0,248849,1,3,94,Dean,2016,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,59481553,1,5,103,10 Cloverfield Lane,2016,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,37978162,3,5,144,13 Hours,2016,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,5663854,1,2,119,20th Century Women,2016,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
4,29245,1,1,0,3 Weeks in Yerevan,2016,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1

In [25]:
train = data.loc[data.year == 2016]
test = data.loc[data.year == 2017]

In [26]:
X_train = train[train.columns[~train.columns.isin(['box_office','title', 'year'])]]
y_train = train['box_office'].values.reshape(-1,1)

X_test = test[test.columns[~test.columns.isin(['box_office','title', 'year'])]]
y_test = test['box_office'].values.reshape(-1,1)

In [27]:
print(X_test.shape, y_test.shape)

(195, 199) (195, 1)

In [28]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [29]:
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [30]:
print(f"Training Data Score: {model.score(X_train, y_train)}")
print(f"Testing Data Score: {model.score(X_test, y_test)}")

Training Data Score: 0.6194696939899448
Testing Data Score: 0.44307599436561024